# ÏûëÏóÖ 1Ïú†Ìòï

### Ïú†ÌäúÎ∏å Îç∞ÏùºÎ¶¨ Ïù∏Í∏∞ÎèôÏòÅÏÉÅ(ÌïúÍµ≠)

In [79]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/youtube.csv",index_col=0)
df.head()

,title,channelTitle,categoryId,view_count,likes,dislikes,comment_count,channelId,trending_date2
0,[Ïã†Î≥ë] Î¨ºÏûêÏ∞ΩÍ≥†,Ïû•ÏÇêÏ≠à,23,1893473,38249,730,8595,UChbE5OZQ6dRHECsX0tEPEZQ,2021-01-01
1,RAIN(ÎπÑ) - ÎÇòÎ°ú Î∞îÍæ∏Ïûê Switch to me (duet with JYP) MV,RAIN's Official Channel,10,2600864,0,0,20129,UCxXgIeE5hxWxHG6dz9Scg2w,2021-01-01
2,2020ÎÖÑ Ï†úÏïºÏùò Ï¢Ö Ïò®ÎùºÏù∏ ÌÉÄÏ¢ÖÌñâÏÇ¨ | Î≥¥Ïã†Í∞Å ÌòÑÏû• ÌñâÏÇ¨Îäî ÏßÑÌñâÌïòÏßÄ ÏïäÏäµÎãàÎã§.,ÏÑúÏö∏Ïãú ¬∑ Seoul,29,347049,3564,120,178,UCZUPZW5idAxYp-Asj__lVAA,2021-01-01
3,Í≥†Í∏∞ÎÇ®ÏûêÏùò Ïπ†Î©¥Ï°∞ ÌååÌã∞,Í≥†Í∏∞ÎÇ®Ïûê MeatMan,26,528458,15372,280,3470,UCT3CumbFIJiW33uq0UI3zlg,2021-01-01
4,Í≥®Î™© 3mcÎ•º Î∂ÑÎÖ∏ÌïòÍ≤å ÎßåÎì† ÎßàÏùåÍ≥†ÏÉùÏù¥ Ïã¨ÌñàÏùÑ Í≥µÎ¶â Î∞±Î∞òÏßë ÏÇ¨Ïû•ÎãòÏùò Ìë∏ÎÖê?! [ÏòàÎä•...,Ïä§Î∏åÏä§Î∞•Ïßë,24,494904,3918,111,3142,UCdWgRSfttvDucq4ApcCg5Mw,2021-01-01

In [80]:
#Ïù∏Í∏∞ÎèôÏòÅÏÉÅ Ï†úÏûëÌöüÏàòÍ∞Ä ÎßéÏùÄ Ï±ÑÎÑê ÏÉÅÏúÑ 10Í∞úÎ™ÖÏùÑ Ï∂úÎ†•(ÎÇ†Ïßú Í∏∞Ï§Ä, Ï§ëÎ≥µ Ìè¨Ìï®)
df.loc[df['channelId'].isin(df['channelId'].value_counts().head(10).index), 'channelTitle'].unique()

array(['Ïû•ÏÇêÏ≠à', 'Ï¥ùÎ™áÎ™Ö', 'ÌååÎøåÎ¶¨', 'Ïß§Ìà∞', 'Îü∞ÎãùÎß® - Ïä§Î∏åÏä§ Í≥µÏãù Ï±ÑÎÑê',
       'Ïó†ÎöúÎ£®ÎßàÎöúÎ£® : MBC Í≥µÏãù Ï¢ÖÌï© Ï±ÑÎÑê', 'SPOTV', 'Ï±ÑÎÑê Ïã≠Ïò§Ïïº', 'Ïù¥Í≥ºÏû•', 'BANGTANTV'],
      dtype=object)

In [81]:
#ÎÖºÎûÄÏúºÎ°ú Ïù∏Í∏∞ÎèôÏòÅÏÉÅÏù¥ Îêú ÏºÄÏù¥Ïä§Î•º ÌôïÏù∏ÌïòÍ≥† Ïã∂Îã§.
#dislikesÍ∞Ä likesÏàòÎ≥¥Îã§ ÎÜíÏùÄ ÎèôÏòÅÏÉÅÏùÑ Ï†úÏûëÌïú Ï±ÑÎÑêÏùÑ Î™®Îëê Ï∂úÎ†•
df.loc[df['dislikes'] > df['likes'], 'channelTitle'].unique()

array(['Ìï´ÎèÑÍ∑∏TV', 'ASMR Ïï†Ï†ïTV', 'ÌïòÏñÄÌä∏Î¶¨HayanTree', 'ÏñëÌå° YangPang',
       'Ï≤†Íµ¨Ìòï (CHULTUBE)', 'ÏôúÎÉêÎß®ÌïòÏö∞Ïä§', '(MUTUBE)ÏôÄÍæ∏ÎåÄÏû•Î¥âÏ§Ä', 'Ïò§Î©îÌÇ¥TV', 'Ïú°ÏßÄÎã¥',
       'MapleStory_KR', 'ROAD FIGHTING CHAMPIONSHIP', 'ÏÇ¨ÎÇòÏù¥ ÍπÄÍ∏∞Ìõà',
       'ÎÇòÌòºÏûêÏÇ∞Îã§ STUDIO', 'Gen.G esports'], dtype=object)

In [82]:
#Ï±ÑÎÑêÎ™ÖÏùÑ Î∞îÍæº ÏºÄÏù¥Ïä§Í∞Ä ÏûàÎäîÏßÄ ÌôïÏù∏ÌïòÍ≥† Ïã∂Îã§
#channelIdÏùò Í≤ΩÏö∞ Í≥†Ïú†Í∞íÏù¥ÎØÄÎ°ú Ïù¥Î•º ÌÜµÌï¥ Ï±ÑÎÑêÎ™ÖÏùÑ ÌïúÎ≤àÏù¥ÎùºÎèÑ Î∞îÍæº Ï±ÑÎÑêÏùò Í∞ØÏàòÎ•º Íµ¨ÌïòÏó¨Îùº
change = df[['channelTitle', 'channelId']].drop_duplicates()['channelId'].value_counts()
len(change[change>1])

71

In [83]:
#ÏùºÏöîÏùºÏóê Ïù∏Í∏∞ÏûàÏóàÎçò ÏòÅÏÉÅÎì§ Ï§ë Í∞ÄÏû• ÎßéÏùÄ ÏòÅÏÉÅ Ï¢ÖÎ•ò(categoryId)Îäî Î¨¥ÏóáÏù∏Í∞Ä?
df['trending_date2'] = pd.to_datetime(df['trending_date2'])
df.loc[df['trending_date2'].dt.day_name() == 'Sunday', 'categoryId'].value_counts().index[0]
#pd.to_datetime()ÏïàÏóê ÏãúÎ¶¨Ï¶àÎ•º ÎÑ£Ïñ¥Ïïº Ìï®
#day_name()ÏùÄ ÏöîÏùº Ïù¥Î¶ÑÏúºÎ°ú Ï∂úÎ†•Îê®

24

In [84]:
#Í∞Å ÏöîÏùºÎ≥Ñ Ïù∏Í∏∞ ÏòÅÏÉÅÎì§Ïùò categoryIdÎäî Í∞ÅÍ∞Å Î™áÍ∞úÏî©Ïù∏ÏßÄ ÌïòÎÇòÏùò Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑÏúºÎ°ú ÌëúÌòÑÌïòÎùº
group = df.groupby([df['trending_date2'].dt.day_name(), 'categoryId'], as_index=False).size()
group.pivot(index='categoryId', columns='trending_date2')

                 size
trending_date2 Friday Monday Saturday Sunday Thursday Tuesday Wednesday
categoryId
1                 243    263      255    274      246     257       234
2                 120    105      119     99      128     119       129
10                833    837      776    830      890     894       917
15                187    215      198    217      207     208       207
17                633    668      592    636      682     708       706
19                 90     92       87     91       92      89        85
20                283    298      296    289      282     285       291
22               1288   1373     1289   1337     1341    1375      1333
23                568    594      570    556      560     569       566
24               2976   3148     3066   3096     2954    3084      3090
25                444    453      422    437      470     452       468
26                369    378      364    363      375     394       385
27                183    205      183    199      194     194       212
28                171    160      173    167      166     161       165
29                 12     10       10      9       13      11        12

In [85]:
#viewcountÎåÄÎπÑ ÎåìÍ∏ÄÏàòÍ∞Ä Í∞ÄÏû• ÎÜíÏùÄ ÏòÅÏÉÅÏùÑ ÌôïÏù∏ÌïòÎùº
target2 = df[df['view_count'] != 0]
t = target2.copy()
t['ratio'] = (target2['comment_count']/target2['view_count'])
t.sort_values(by='ratio', ascending=False).head(1)['title']

50830    60Î∂Ñ ÎèôÏïà ÎåìÍ∏ÄÏù¥ Îã¨Î¶¨ÏßÄ ÏïäÏúºÎ©¥, ÏòÅÏÉÅÏù¥ ÏÇ≠Ï†úÎê©ÎãàÎã§. (Ï±åÎ¶∞ÏßÄ)
Name: title, dtype: object

In [86]:
#viewcountÎåÄÎπÑ ÎåìÍ∏ÄÏàòÍ∞Ä Í∞ÄÏû• ÎÇÆÏùÄ ÏòÅÏÉÅÏùÑ ÌôïÏù∏ÌïòÎùº(0 Ï†úÏô∏)
t[t['ratio'] > 0].sort_values(by='ratio', ascending=True).head(1)['title']

46005    Join the BTS #PermissiontoDance Challenge only...
Name: title, dtype: object

In [87]:
#like ÎåÄÎπÑ displikeÏùò ÏàòÍ∞Ä Í∞ÄÏû• Ï†ÅÏùÄ ÏòÅÏÉÅÏùÄ?
target3 = df[(df['likes'] != 0) & (df['dislikes'] != 0)]
t2 = target3.copy()
t2['ratio'] = (target3['likes']/target3['dislikes'])
t2.sort_values(by='ratio', ascending=False).head(1)['title']

11477    [Ï§åÌÑ∞Î∑∞] *ÏµúÏ¥àÍ≥µÍ∞ú* ÏÇ¨Î∂ÄÏûëÏ¶àüê∞üê∂Ïùò ÎπÑÍ≥µÏãù Ïù¥Î¶ÑÏùÄ ÏïÑÏù¥ÎùºÏù∏Ï¶à? ÍøÄÏ°∞Ìï© Ìã∞ÌÇ§ÌÉÄÏπ¥ Í∞Ä...
Name: title, dtype: object

In [88]:
#Í∞ÄÏû•ÎßéÏùÄ Ìä∏Î†åÎìú ÏòÅÏÉÅÏùÑ Ï†úÏûëÌïú Ï±ÑÎÑêÏùò Ïù¥Î¶ÑÏùÄ?
df.loc[df['channelId'] == df['channelId'].value_counts().index[0], 'channelTitle'].unique()[0]

'Ïß§Ìà∞'

In [89]:
#20Ìöå(20Ïùº)Ïù¥ÏÉÅ Ïù∏Í∏∞ÎèôÏòÅÏÉÅ Î¶¨Ïä§Ìä∏Ïóê Ìè¨Ìï®Îêú ÎèôÏòÅÏÉÅÏùò Ïà´ÏûêÎäî?
(df[['title', 'channelId']].value_counts() >= 20).sum()

40

### Ïú†ÌäúÎ∏å Í≥µÎ≤îÏª®ÌÖêÏ∏† ÎèôÏòÅÏÉÅ Îç∞Ïù¥ÌÑ∞

In [1]:
import pandas as pd


channel =pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/channelInfo.csv')
video =pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/videoInfo.csv')
display(channel.head())
display(video.head())

,channelid,subcnt,viewcnt,videocnt,ct,channelname
0,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,410238653,736,2021-09-30 03:01:03,ÍΩàÎöúÎ£π
1,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,736,2021-09-30 09:01:03,ÍΩàÎöúÎ£π
2,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,735,2021-09-30 15:01:03,ÍΩàÎöúÎ£π
3,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,737,2021-09-30 21:01:03,ÍΩàÎöúÎ£π
4,UCkQCwnkQfgSuPTTnw_Y7v7w,1320000,412531322,737,2021-10-01 03:01:04,ÍΩàÎöúÎ£π

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
0,c5JQp6xafqc,1667010,30474,706,0,6587,2021-10-10 15:20:03,Í≥µÎ≤î EP1
1,c5JQp6xafqc,1669089,30495,707,0,6589,2021-10-10 15:30:03,Í≥µÎ≤î EP1
2,c5JQp6xafqc,1674759,30522,711,0,6596,2021-10-10 15:40:02,Í≥µÎ≤î EP1
3,c5JQp6xafqc,1677026,30555,712,0,6604,2021-10-10 15:50:03,Í≥µÎ≤î EP1
4,c5JQp6xafqc,1681824,30585,713,0,6600,2021-10-10 16:00:03,Í≥µÎ≤î EP1

In [2]:
#Í∞Å Îç∞Ïù¥ÌÑ∞Ïùò 'ct'Ïª¨ÎüºÏùÑ ÏãúÍ∞ÑÏúºÎ°ú Ïù∏ÏãùÌï†Ïàò ÏûàÍ≤å datatypeÏùÑ Î≥ÄÍ≤ΩÌïòÍ≥†
#video Îç∞Ïù¥ÌÑ∞Ïùò videonameÏùò Í∞Å valueÎßàÎã§ Î™áÍ∞úÏùò Îç∞Ïù¥ÌÑ∞Ïî© Í∞ÄÏßÄÍ≥† ÏûàÎäîÏßÄ ÌôïÏù∏ÌïòÎùº
channel['ct'] = pd.to_datetime(channel['ct'])
video['ct'] = pd.to_datetime(video['ct'])

video['videoname'].value_counts()

 Í≥µÎ≤î EP1    3492
 Í≥µÎ≤î EP2    3204
 Í≥µÎ≤î EP3    2568
 Í≥µÎ≤î EP4    2280
 Í≥µÎ≤î EP5    1562
 Í≥µÎ≤î EP6    1274
 Í≥µÎ≤î EP7     555
 Í≥µÎ≤î EP8     266
Name: videoname, dtype: int64

In [3]:
#ÏàòÏßëÎêú Í∞Å videoÏùò Í∞ÄÏû• ÏµúÏã†Ìôî Îêú ÎÇ†ÏßúÏùò viewcountÍ∞íÏùÑ Ï∂úÎ†•ÌïòÎùº
video.sort_values(by=['videoname' ,'ct']).drop_duplicates('videoname', keep='last')[['viewcnt', 'videoname', 'ct']].reset_index(drop=True)
#keep='first': Ï§ëÎ≥µÎêú Ìñâ Ï§ë Ï≤´ Î≤àÏß∏ ÌñâÏùÑ Ïú†ÏßÄÌïòÍ≥† ÎÇòÎ®∏ÏßÄÎ•º Ï†úÍ±∞Ìï©ÎãàÎã§.
#keep='last': Ï§ëÎ≥µÎêú Ìñâ Ï§ë ÎßàÏßÄÎßâ ÌñâÏùÑ Ïú†ÏßÄÌïòÍ≥† ÎÇòÎ®∏ÏßÄÎ•º Ï†úÍ±∞Ìï©ÎãàÎã§.
#keep=False: Ï§ëÎ≥µÎêú Î™®Îì† ÌñâÏùÑ Ï†úÍ±∞Ìï©ÎãàÎã§.

   viewcnt videoname                  ct
0  3180532    Í≥µÎ≤î EP1 2021-11-01 15:30:03
1  2199328    Í≥µÎ≤î EP2 2021-11-01 15:30:03
2  1671294    Í≥µÎ≤î EP3 2021-11-01 15:30:03
3  1818493    Í≥µÎ≤î EP4 2021-11-01 15:30:03
4  1503435    Í≥µÎ≤î EP5 2021-11-01 15:30:04
5  1750222    Í≥µÎ≤î EP6 2021-11-01 15:30:04
6  1630200    Í≥µÎ≤î EP7 2021-11-01 15:30:05
7  1289088    Í≥µÎ≤î EP8 2021-11-01 15:30:05

In [4]:
#Channel Îç∞Ïù¥ÌÑ∞ Ï§ë 2021-10-03Ïùº Ïù¥ÌõÑ Í∞Å Ï±ÑÎÑêÏùò Ï≤òÏùå Í∏∞Î°ù ÎêêÎçò Íµ¨ÎèÖÏûê Ïàò(subcnt)Î•º Ï∂úÎ†•ÌïòÎùº
target = channel[channel['ct'] > pd.to_datetime('2021-10-03')].sort_values(by=['channelid', 'ct']).drop_duplicates('channelid', keep='first')
target[['channelname', 'subcnt']].reset_index(drop=True)

        channelname   subcnt
0            ÎÖºÎ¶¨Ïôï Ï†ÑÍ∏∞   922000
1             ÏïºÏ†ÑÏÇΩÏß±Ïû¨   257000
2           ÌòïÏÇ¨!ÌÉêÏ†ïÎêòÎã§    14900
3       Î¶¥ÌéÑ Lilpearl    10100
4               Ï°∞ÎÇòÎã®   215000
5        ÍπÄÎÜçÎ∞ÄÏùò ÎÜçÎ∞ÄÌïú ÏÇ∂     7520
6     Balming Tiger    54300
7               ÍΩàÎöúÎ£π  1330000
8   ÏôÄÍ∏ÄÏôÄÍ∏Ä WagleWagle    55000
9        Ï∏ÑÏ†ïChuJeong   322000
10    Í≥ΩÌÜ†Î¶¨ kwak tori   471000

In [5]:
#Í∞ÅÏ±ÑÎÑêÏùò 2021-10-03 03:00:00 ~ 2021-11-01 15:00:00ÍπåÏßÄ Íµ¨ÎèÖÏûêÏàò(subcnt)Ïùò Ï¶ùÍ∞ÄÎüâÏùÑ Íµ¨ÌïòÏó¨Îùº
Oct = channel[channel['ct'] >= '2021-10-03 03:00:00'].sort_values(by=['channelname', 'ct']).drop_duplicates('channelname', keep='first')
Nov = channel[channel['ct'] <= '2021-11-01 15:00:00'].sort_values(by=['channelname', 'ct']).drop_duplicates('channelname', keep='last')
merge_data = pd.merge(Oct, Nov, on='channelname')
merge_data['del'] = merge_data['subcnt_y'] - merge_data['subcnt_x']
merge_data[['channelname', 'del']]

        channelname    del
0     Balming Tiger   2500
1     Í≥ΩÌÜ†Î¶¨ kwak tori  -2000
2        ÍπÄÎÜçÎ∞ÄÏùò ÎÜçÎ∞ÄÌïú ÏÇ∂   1540
3               ÍΩàÎöúÎ£π  70000
4            ÎÖºÎ¶¨Ïôï Ï†ÑÍ∏∞ -11000
5       Î¶¥ÌéÑ Lilpearl  11000
6             ÏïºÏ†ÑÏÇΩÏß±Ïû¨  11000
7   ÏôÄÍ∏ÄÏôÄÍ∏Ä WagleWagle      0
8               Ï°∞ÎÇòÎã®  12000
9        Ï∏ÑÏ†ïChuJeong   1000
10          ÌòïÏÇ¨!ÌÉêÏ†ïÎêòÎã§  10300

In [6]:
#Í∞Å ÎπÑÎîîÏò§Îäî 10Î∂Ñ Í∞ÑÍ≤©ÏúºÎ°ú Íµ¨ÎèÖÏûêÏàò, Ï¢ãÏïÑÏöî, Ïã´Ïñ¥ÏöîÏàò, ÎåìÍ∏ÄÏàòÍ∞Ä ÏàòÏßëÎêúÍ≤ÉÏúºÎ°ú ÏïåÎ†§Ï°åÎã§
#Í≥µÎ≤î EP1Ïùò ÎπÑÎîîÏò§Ï†ïÎ≥¥ Îç∞Ïù¥ÌÑ∞Ï§ë ÏàòÏßëÍ∞ÑÍ≤©Ïù¥ 5Î∂Ñ Ïù¥Ìïò, 20Î∂Ñ Ïù¥ÏÉÅÏù∏ Îç∞Ïù¥ÌÑ∞Íµ¨Í∞ÑÏùò ÏãúÍ∞ÅÏùÑ Î™®Îëê Ï∂úÎ†•
import datetime

ep_one = video[video['videoname'] == ' Í≥µÎ≤î EP1'].sort_values('ct').reset_index(drop=True)
ep_one[(ep_one['ct'].diff(1) >= datetime.timedelta(minutes=20)) | (ep_one['ct'].diff(1) <= datetime.timedelta(minutes=5))]

ep_one[ep_one.index.isin([720, 721, 722, 723, 1635, 1636, 1637])]

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
720,c5JQp6xafqc,2153676,34104,830,0,7120,2021-10-12 19:20:03,Í≥µÎ≤î EP1
721,c5JQp6xafqc,2228250,34559,849,0,7191,2021-10-13 09:41:37,Í≥µÎ≤î EP1
722,c5JQp6xafqc,2228250,34559,849,0,7191,2021-10-13 09:41:37,Í≥µÎ≤î EP1
723,c5JQp6xafqc,2228669,34566,849,0,7194,2021-10-13 09:50:03,Í≥µÎ≤î EP1
1635,c5JQp6xafqc,2706691,37893,987,0,7410,2021-10-19 17:50:02,Í≥µÎ≤î EP1
1636,c5JQp6xafqc,2707933,37901,988,0,7410,2021-10-19 18:20:03,Í≥µÎ≤î EP1
1637,c5JQp6xafqc,2708448,37903,988,0,7410,2021-10-19 18:30:03,Í≥µÎ≤î EP1

In [96]:
#Í∞Å ÏóêÌîºÏÜåÎìúÏùò ÏãúÏûëÎÇ†Ïßú(ÎÖÑ-Ïõî-Ïùº)Î•º ÏóêÌîºÏÜåÎìú Ïù¥Î¶ÑÍ≥º Î¨∂Ïñ¥ Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑÏúºÎ°ú ÎßåÎì§Í≥† Ï∂úÎ†•ÌïòÎùº
start_video = video.sort_values(by=['videoname', 'ct']).drop_duplicates('videoname', keep='first').reset_index(drop=True)
start_video['date'] = start_video['ct'].dt.date
start_video[['date', 'videoname']]

         date videoname
0  2021-10-07    Í≥µÎ≤î EP1
1  2021-10-09    Í≥µÎ≤î EP2
2  2021-10-14    Í≥µÎ≤î EP3
3  2021-10-16    Í≥µÎ≤î EP4
4  2021-10-21    Í≥µÎ≤î EP5
5  2021-10-23    Í≥µÎ≤î EP6
6  2021-10-28    Í≥µÎ≤î EP7
7  2021-10-30    Í≥µÎ≤î EP8

In [97]:
#Í≥µÎ≤îÏùÄ 21:00Ïóê Í≥µÍ∞úÎêúÎã§. Í≥µÍ∞úÎêú ÎÇ† 21ÏãúÏùò viewcnt, ct, videonameÏúºÎ°ú Íµ¨ÏÑ±Îêú
#Îç∞Ïù¥ÌÑ∞ ÌîÑÎ†àÏûÑÏùÑ viewcntÎ•º ÎÇ¥Î¶ºÏ∞®ÏàúÏúºÎ°ú Ï†ïÎ†¨ÌïòÏó¨ Ï∂úÎ†•ÌïòÎùº
open_video = video[(video['ct'].dt.hour == 21)].sort_values(by=['videoname', 'ct']).drop_duplicates('videoname', keep='first')
open_video[['videoname', 'viewcnt', 'ct']].sort_values(by='viewcnt', ascending=False).reset_index(drop=True)

  videoname  viewcnt                  ct
0    Í≥µÎ≤î EP8   264029 2021-10-30 21:00:08
1    Í≥µÎ≤î EP7   252032 2021-10-28 21:00:04
2    Í≥µÎ≤î EP4   217674 2021-10-16 21:00:04
3    Í≥µÎ≤î EP6   213899 2021-10-23 21:00:06
4    Í≥µÎ≤î EP5   201179 2021-10-21 21:00:04
5    Í≥µÎ≤î EP2   148144 2021-10-09 21:00:03
6    Í≥µÎ≤î EP3   147183 2021-10-14 21:00:04
7    Í≥µÎ≤î EP1   117340 2021-10-07 21:00:03

In [98]:
#video Ï†ïÎ≥¥Ïùò Í∞ÄÏû• ÏµúÍ∑º Îç∞Ïù¥ÌÑ∞Îì§ÏóêÏÑú Í∞Å ÏóêÌîºÏÜåÎìúÏùò Ïã´Ïñ¥Ïöî/Ï¢ãÏïÑÏöî ÎπÑÏú®ÏùÑ ratioÏª¨ÎüºÏùÑ ÎßåÎì§Í≥†
#videoname,ratioÎ°ú Íµ¨ÏÑ±Îêú Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑÏùÑ ratioÎ•º Ïò§Î¶ÑÏ∞®ÏàúÏúºÎ°ú Ï†ïÎ†¨
video['ratio'] = (video.sort_values('ct', ascending=False).head(8)['dislikecnt']) / (video.sort_values('ct', ascending=False).head(8)['likecnt'])
video.sort_values('ct', ascending=False).head(8)[['videoname', 'ratio']].sort_values('ratio')

      videoname     ratio
13660    Í≥µÎ≤î EP7  0.013636
14934    Í≥µÎ≤î EP6  0.015881
11543    Í≥µÎ≤î EP4  0.017971
13105    Í≥µÎ≤î EP5  0.021128
9263     Í≥µÎ≤î EP3  0.022360
3491     Í≥µÎ≤î EP1  0.027118
6695     Í≥µÎ≤î EP2  0.029844
15200    Í≥µÎ≤î EP8  0.141357

In [99]:
#2021-11-01 00:00:00 ~ 15:00:00ÍπåÏßÄ Í∞Å ÏóêÌîºÏÜåÎìúÎ≥Ñ ÏµúÎåìÍ∞í-ÏµúÏÜüÍ∞í

start = pd.to_datetime('2021-11-01 00:00:00')
end = pd.to_datetime('2021-11-01 15:00:00')

target = video[(video['ct'] >= start) & (video['ct'] <= end)].reset_index(drop=True)

target[['videoname', 'viewcnt']].groupby('videoname').max() - target[['videoname', 'viewcnt']].groupby('videoname').min()

           viewcnt
videoname
 Í≥µÎ≤î EP1      13298
 Í≥µÎ≤î EP2      10300
 Í≥µÎ≤î EP3       9927
 Í≥µÎ≤î EP4       9824
 Í≥µÎ≤î EP5      10824
 Í≥µÎ≤î EP6      14141
 Í≥µÎ≤î EP7      26949
 Í≥µÎ≤î EP8      89147

In [100]:
#Ï§ëÎ≥µÎêòÎäî Îç∞Ïù¥ÌÑ∞Ïùò videonameÍ≥º ÏãúÍ∞ÑÎåÄ
video.loc[video.duplicated(), ['videoname', 'ct']]

     videoname                  ct
722     Í≥µÎ≤î EP1 2021-10-13 09:41:37
3927    Í≥µÎ≤î EP2 2021-10-13 09:41:37

### ÏõîÎìúÏªµ Ï∂úÏ†ÑÏÑ†Ïàò Í≥®Í∏∞Î°ù Îç∞Ïù¥ÌÑ∞

In [101]:
import pandas as pd

df= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/worldcup/worldcupgoals.csv')
df.head()

           Player  Goals                Years  Country
0  Miroslav Klose     16  2002-2006-2010-2014  Germany
1         Ronaldo     15       1998-2002-2006   Brazil
2     Gerd Muller     14            1970-1974  Germany
3   Just Fontaine     13                 1958   France
4            Pele     12  1958-1962-1966-1970   Brazil

In [102]:
#ÎÇòÎùºÎ≥Ñ Í≥®ÎìùÏ†êÏàò ÏÉÅÏúÑ 5Í∞ú Íµ≠Í∞ÄÏôÄ ÎìùÏ†êÏàò
df.groupby('Country').sum().sort_values(by='Goals', ascending=False).head(5)

           Goals
Country
Brazil       228
Germany      226
Argentina    135
Italy        123
France       115

In [103]:
#Í≥®ÎìùÏ†êÏùÑ Ìïú ÏÑ†ÏàòÍ∞Ä Í∞ÄÏû• ÎßéÏùÄ ÎÇòÎùº ÏÉÅÏúÑ 5Í∞ú Íµ≠Í∞ÄÏôÄ Í∑∏ ÏÑ†Ïàò Ïà´ÏûêÎ•º Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑÌòïÏãùÏúºÎ°ú Ï∂úÎ†•
df.groupby('Country').size().sort_values(ascending=False).head(5).to_frame()

            0
Country
Brazil     81
Germany    78
Italy      60
Argentina  59
France     58

In [104]:
#Years Ïª¨ÎüºÏùÄ ÎÖÑÎèÑ-ÎÖÑÎèÑ ÌòïÏãùÏúºÎ°ú Íµ¨ÏÑ±ÎêòÏñ¥ÏûàÍ≥†, Í∞Å ÎÖÑÎèÑÎäî 4ÏûêÎ¶¨ Ïà´ÏûêÏù¥Îã§.
#ÎÖÑÎèÑ ÌëúÍ∏∞Í∞Ä 4ÏûêÎ¶¨ Ïà´ÏûêÎ°ú ÏïàÎêú ÏºÄÏù¥Ïä§Í∞Ä Ï°¥Ïû¨ÌïúÎã§. Ìï¥Îãπ Í±¥ÏùÄ Î™áÍ±¥Ïù∏ÏßÄ Ï∂úÎ†•ÌïòÎùº

def checkFour(x):
    for value in x:
        if len(str(value)) != 4:
            return False
    return True

df['check'] = df['Years'].str.split('-').apply(checkFour)

len(df[df['check'] == False])

45

In [105]:
df2 = df[df['check'] == True]
len(df2.index)

1250

In [106]:
#ÏõîÎìúÌÖÅ Ï∂úÏ†ÑÌöüÏàòÎ•º ÎÇòÌÉÄÎÇ¥Îäî 'LenCup Ïª¨ÎüºÏùÑ Ï∂îÍ∞ÄÌïòÍ≥† 4Ìöå Ï∂úÏ†ÑÌïú ÏÑ†ÏàòÏùò Ïà´ÏûêÎ•º Íµ¨ÌïòÏó¨Îùº'
df2['LenCup'] = df2['Years'].str.split('-').apply(lambda x: len(x))
df2['LenCup'] = df2['LenCup'].astype('int')
len(df2[df2['LenCup'] == 4])

C:\Users\USER\AppData\Local\Temp\ipykernel_31328\1770803861.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['LenCup'] = df2['Years'].str.split('-').apply(lambda x: len(x))
C:\Users\USER\AppData\Local\Temp\ipykernel_31328\1770803861.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['LenCup'] = df2['LenCup'].astype('int')

16

In [107]:
#Yugoslavia Íµ≠Í∞ÄÏùò ÏõîÎìúÏªµ Ï∂úÏ†ÑÌöüÏàòÍ∞Ä 2ÌöåÏù∏ ÏÑ†ÏàòÎì§Ïùò Ïà´ÏûêÎ•º Íµ¨ÌïòÏó¨Îùº
len(df2[(df2['Country'] == 'Yugoslavia') & (df2['LenCup'] == 2)])

7

In [108]:
#2002ÎÖÑÎèÑÏóê Ï∂úÏ†ÑÌïú Ï†ÑÏ≤¥ ÏÑ†ÏàòÎäî Î™áÎ™ÖÏù∏Í∞Ä?
len(df2[df2['Years'].str.contains('2002')])

156

In [109]:
#Ïù¥Î¶ÑÏóê 'carlos' Îã®Ïñ¥Í∞Ä Îì§Ïñ¥Í∞ÄÎäî ÏÑ†ÏàòÏùò Ïà´ÏûêÎäî Î™áÎ™ÖÏù∏Í∞Ä?
len(df2[df2['Player'].str.lower().str.contains('carlos')])

13

In [110]:
#ÏõîÎìúÏªµ Ï∂úÏ†Ñ ÌöüÏàòÍ∞Ä 1ÌöåÎøêÏù∏ ÏÑ†ÏàòÎì§ Ï§ëÏóêÏÑú Í∞ÄÏû• ÎßéÏùÄ ÎìùÏ†êÏùÑ Ïò¨Î†∏Îçò ÏÑ†ÏàòÎäî ÎàÑÍµ¨Ïù∏Í∞Ä?
df2[df2['LenCup'] == 1].sort_values(by='Goals', ascending=False).reset_index(drop=True)['Player'][0]

'Just Fontaine'

In [111]:
#ÏõîÎìúÏªµ Ï∂úÏ†ÑÌöüÏàòÍ∞Ä 1Ìöå ÎøêÏù∏ ÏÑ†ÏàòÎì§Ïù¥ Í∞ÄÏû• ÎßéÏùÄ Íµ≠Í∞ÄÎäî Ïñ¥ÎîîÏù∏Í∞Ä?
df2[df2['LenCup'] == 1].groupby('Country').size().sort_values(ascending=False).index[0]

'Brazil'

### ÏÑúÏö∏Ïãú Îî∞Î¶âÏù¥ Ïù¥Ïö©Ï†ïÎ≥¥ Îç∞Ïù¥ÌÑ∞

In [25]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/bicycle/seoul_bi.csv')
df.head()

         ÎåÄÏó¨ÏùºÏûê  ÎåÄÏó¨ÏãúÍ∞Ñ  ÎåÄÏó¨ÏÜåÎ≤àÌò∏ ÎåÄÏó¨Íµ¨Î∂ÑÏΩîÎìú ÏÑ±Î≥Ñ Ïó∞Î†πÎåÄÏΩîÎìú  Ïù¥Ïö©Í±¥Ïàò    Ïö¥ÎèôÎüâ   ÌÉÑÏÜåÎüâ     Ïù¥ÎèôÍ±∞Î¶¨  ÏÇ¨Ïö©ÏãúÍ∞Ñ
0  2021-06-01     0   3541    Ï†ïÍ∏∞Í∂å  F  ~10ÎåÄ     1   0.00  0.00     0.00     8
1  2021-06-01     0    765    Ï†ïÍ∏∞Í∂å  F  ~10ÎåÄ     1  27.21  0.35  1526.81    19
2  2021-06-01     0   2637    Ï†ïÍ∏∞Í∂å  F  ~10ÎåÄ     1  41.40  0.37  1608.56    18
3  2021-06-01     0   2919    Ï†ïÍ∏∞Í∂å  F  ~10ÎåÄ     1   0.00  0.00     0.00    75
4  2021-06-01     0    549    Ï†ïÍ∏∞Í∂å  F  ~10ÎåÄ     1  13.04  0.17   731.55     6

In [26]:
#ÎåÄÏó¨ÏùºÏûêÎ≥Ñ Îç∞Ïù¥ÌÑ∞Ïùò ÏàòÎ•º Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑÏúºÎ°ú Ï∂úÎ†•ÌïòÍ≥†,
#Í∞ÄÏû• ÎßéÏùÄ Îç∞Ïù¥ÌÑ∞Í∞Ä ÏûàÎäî ÎÇ†ÏßúÎ•º Ï∂úÎ†•ÌïòÎùº
display(df.groupby('ÎåÄÏó¨ÏùºÏûê').size().to_frame())
print(df.groupby('ÎåÄÏó¨ÏùºÏûê').size().sort_values().index[-1])

                0
ÎåÄÏó¨ÏùºÏûê
2021-06-01  48081
2021-06-02  56100
2021-06-03  18985
2021-06-04  56788
2021-06-05  52730
2021-06-06  47787
2021-06-07  52623
2021-06-08  55623
2021-06-09  54507
2021-06-10  36992
2021-06-11  52089
2021-06-12  48569
2021-06-13  43131
2021-06-14  54945

2021-06-04

In [27]:
#Í∞Å ÏùºÏûêÏùò ÏöîÏùºÏùÑ ÌëúÍ∏∞ÌïòÍ≥† day_name Ïª¨ÎüºÏùÑ Ï∂îÍ∞ÄÌïòÍ≥† Ïù¥Î•º Ïù¥Ïö©ÌïòÏó¨
#Í∞Å ÏöîÏùºÎ≥Ñ Ïù¥Ïö© ÌöüÏàòÏùò Ï¥ùÌï©ÏùÑ Îç∞Ïù¥ÌÑ∞ ÌîÑÎ†àÏûÑÏúºÎ°ú Ï∂úÎ†•ÌïòÎùº
df['ÎåÄÏó¨ÏùºÏûê'] = pd.to_datetime(df['ÎåÄÏó¨ÏùºÏûê'])
df['day_name'] = df['ÎåÄÏó¨ÏùºÏûê'].dt.day_name()
df.groupby('day_name').sum()['Ïù¥Ïö©Í±¥Ïàò'].sort_values(ascending=False).to_frame()

             Ïù¥Ïö©Í±¥Ïàò
day_name
Wednesday  122653
Friday     120716
Monday     119271
Tuesday    114492
Saturday   110900
Sunday      99297
Thursday    60338

In [28]:
#Í∞Å ÏöîÏùºÎ≥Ñ Í∞ÄÏû• ÎßéÏù¥ Ïù¥Ïö©Ìïú ÎåÄÏó¨ÏÜåÏùò Ïù¥Ïö©ÌöüÏàòÏôÄ ÎåÄÏó¨ÏÜå Î≤àÌò∏Î•º Îç∞Ïù¥ÌÑ∞ ÌîÑÎ†àÏûÑÏúºÎ°ú
df.groupby(['day_name', 'ÎåÄÏó¨ÏÜåÎ≤àÌò∏'],as_index=False).size().sort_values(by=['day_name', 'size'], ascending=False).drop_duplicates('day_name', keep='first')

        day_name  ÎåÄÏó¨ÏÜåÎ≤àÌò∏  size
14820  Wednesday    502   282
12421    Tuesday    502   267
11482   Thursday   2715   137
7611      Sunday    502   372
5191    Saturday    502   378
2769      Monday    502   242
348       Friday    502   277

In [29]:
#ÎÇòÏù¥ÎåÄÎ≥Ñ ÎåÄÏó¨Íµ¨Î∂Ñ ÏΩîÎìúÏùò (ÏùºÏùºÍ∂å/Ï†ÑÏ≤¥ÌöüÏàò)ÎπÑÏú®ÏùÑ Íµ¨ÌïòÏó¨Îùº
#Í∑∏ÎûòÍ≥† Í∞ÄÏû• ÎÜíÏùÄ ÎπÑÏú®ÏùÑ Í∞ÄÏßÄÎäî ÎÇòÏù¥ÎåÄÎ•º ÌôïÏù∏
daily = df[df['ÎåÄÏó¨Íµ¨Î∂ÑÏΩîÎìú'].isin(['ÏùºÏùºÍ∂å', 'ÏùºÏùºÍ∂å(ÎπÑÌöåÏõê)'])]['Ïó∞Î†πÎåÄÏΩîÎìú'].value_counts().sort_index()
total = df['Ïó∞Î†πÎåÄÏΩîÎìú'].value_counts().sort_index()

print((daily/total).sort_values(ascending=False))
print('max ratio age : ',(daily/total).sort_values(ascending=False).index[0])

~10ÎåÄ    0.312525
20ÎåÄ     0.239913
30ÎåÄ     0.166702
40ÎåÄ     0.110585
50ÎåÄ     0.065414
70ÎåÄ~    0.048962
60ÎåÄ     0.042462
Name: Ïó∞Î†πÎåÄÏΩîÎìú, dtype: float64
max ratio age :  ~10ÎåÄ

In [30]:
#Ïó∞Î†πÎåÄÎ≥Ñ ÌèâÍ∑† Ïù¥ÎèôÍ±∞Î¶¨Î•º Íµ¨ÌïòÏó¨Îùº
df.groupby('Ïó∞Î†πÎåÄÏΩîÎìú').mean()['Ïù¥ÎèôÍ±∞Î¶¨']

Ïó∞Î†πÎåÄÏΩîÎìú
20ÎåÄ     3211.890552
30ÎåÄ     3341.443859
40ÎåÄ     3514.857416
50ÎåÄ     3593.668100
60ÎåÄ     3538.145737
70ÎåÄ~    3085.039641
~10ÎåÄ    2634.426279
Name: Ïù¥ÎèôÍ±∞Î¶¨, dtype: float64

In [31]:
#Ïó∞Î†πÎåÄ ÏΩîÎìúÍ∞Ä 20ÎåÄÏù∏ Îç∞Ïù¥ÌÑ∞ Ï∂îÏ∂ú, Ïù¥ÎèôÍ±∞Î¶¨Í∞íÏù¥ Ï∂îÏ∂úÌïú Îç∞Ïù¥ÌÑ∞Ïùò Ïù¥ÎèôÍ±∞Î¶¨Í∞íÏùò ÌèâÍ∑† Ïù¥ÏÉÅÏù∏ Îç∞Ïù¥ÌÑ∞ Ï∂îÏ∂ú
#ÎåÄÏó¨ÏùºÏûê, ÎåÄÏó¨ÏÜå Î≤àÌò∏ ÏàúÏÑúÎ°ú ÎÇ¥Î¶ºÏ∞®Ïàú Ï†ïÎ†¨ ÌõÑ 1ÌñâÎ∂ÄÌÑ∞ 200ÌñâÍπåÏßÄ ÌÉÑÏÜåÎüâÏùò ÌèâÍ∑†ÏùÑ
#ÏÜåÏàòÏ†ê 3Ïß∏ ÏûêÎ¶¨ÍπåÏßÄ Íµ¨ÌïòÎùº
tw = df[df.Ïó∞Î†πÎåÄÏΩîÎìú =='20ÎåÄ'].reset_index(drop=True)
tw_mean = tw[tw.Ïù¥ÎèôÍ±∞Î¶¨ >= tw.Ïù¥ÎèôÍ±∞Î¶¨.mean()].reset_index(drop=True)
tw_mean['ÌÉÑÏÜåÎüâ'] =tw_mean['ÌÉÑÏÜåÎüâ'].astype('float')
target =tw_mean.sort_values(['ÎåÄÏó¨ÏùºÏûê','ÎåÄÏó¨ÏÜåÎ≤àÌò∏'], ascending=False).reset_index(drop=True).iloc[:200].ÌÉÑÏÜåÎüâ
result = round(target.sum()/len(target),3)
print(result)

1.613

In [42]:
#ÌèâÏùº Ïò§Ï†Ñ 6Ïãú,7Ïãú,8ÏãúÏùò ÎåÄÏó¨ÏÜåÎ≥Ñ Ïù¥Ïö© ÌöüÏàòÎ•º Íµ¨Ìï¥ÏÑú Îç∞Ïù¥ÌÑ∞ ÌîÑÎ†àÏûÑ ÌòïÌÉúÎ°ú ÌëúÌòÑÌïú ÌõÑ
#Í∞Å ÎåÄÏó¨ÏãúÍ∞ÑÎ≥Ñ Ïù¥Ïö© ÌöüÏàòÏùò ÏÉÅÏúÑ 3Í∞ú ÎåÄÏó¨ÏÜåÏôÄ Ïù¥Ïö©ÌöüÏàòÎ•º Ï∂úÎ†•ÌïòÎùº
target = df[(df['day_name'].isin(['Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Monday'])) & (df['ÎåÄÏó¨ÏãúÍ∞Ñ'].isin([6, 7, 8]))]
result = target.groupby(['ÎåÄÏó¨ÏãúÍ∞Ñ', 'ÎåÄÏó¨ÏÜåÎ≤àÌò∏']).size().to_frame('Ïù¥Ïö© ÌöüÏàò')
result.sort_values(['ÎåÄÏó¨ÏãúÍ∞Ñ', 'Ïù¥Ïö© ÌöüÏàò'],ascending=False).groupby('ÎåÄÏó¨ÏãúÍ∞Ñ').head(3)

            Ïù¥Ïö© ÌöüÏàò
ÎåÄÏó¨ÏãúÍ∞Ñ ÎåÄÏó¨ÏÜåÎ≤àÌò∏
8    2701     119
     646      115
     1152      92
7    259      104
     230       77
     726       77
6    2744      45
     1125      40
     1028      36

In [47]:
#Ïù¥ÎèôÍ±∞Î¶¨Ïùò ÌèâÍ∑†Ïù¥ÏÉÅÏùò Ïù¥ÎèôÍ±∞Î¶¨ Í∞íÏùÑ Í∞ÄÏßÄÎäî Îç∞Ïù¥ÌÑ∞Î•º Ï∂îÏ∂úÌïòÏó¨ Ï∂îÏ∂úÎç∞Ïù¥ÌÑ∞Ïùò
#Ïù¥ÎèôÍ±∞Î¶¨Ïùò ÌëúÎ≥∏ÌëúÏ§ÄÌé∏Ï∞® Í∞íÏùÑ Íµ¨ÌïòÏó¨Îùº
df[df['Ïù¥ÎèôÍ±∞Î¶¨'] > df['Ïù¥ÎèôÍ±∞Î¶¨'].mean()]['Ïù¥ÎèôÍ±∞Î¶¨'].std()

5092.139707505305

In [58]:
#ÎÇ®ÏÑ±Í≥º Ïó¨ÏÑ±Ïùò Ïù¥ÎèôÍ±∞Î¶¨Í∞íÏùò ÌèâÍ∑†Í∞íÏùÑ Íµ¨ÌïòÏó¨Îùº
df['sex'] = df['ÏÑ±Î≥Ñ'].map(lambda x: 'ÎÇ®' if x in ['M','m'] else 'Ïó¨')
answer = df[['sex','Ïù¥ÎèôÍ±∞Î¶¨']].groupby('sex').mean()
display(answer)

            Ïù¥ÎèôÍ±∞Î¶¨
sex
ÎÇ®    3209.110871
Ïó¨    3468.575025

### Ï†ÑÏÑ∏Í≥Ñ ÌñâÎ≥µÎèÑ ÏßÄÌëú Îç∞Ïù¥ÌÑ∞

In [59]:
import pandas as pd
df =pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/happy2/happiness.csv',encoding='utf-8')
df.head()

,ÌñâÎ≥µÎû≠ÌÇπ,ÎÇòÎùºÎ™Ö,Ï†êÏàò,ÏÉÅÎåÄGDP,ÏÇ¨ÌöåÏ†ÅÏßÄÏõê,ÌñâÎ≥µÍ∏∞ÎåÄÏπò,ÏÑ†ÌÉùÏùò ÏûêÏú†ÎèÑ,Í¥ÄÎåÄÌï®,Î∂ÄÌå®Ïóê ÎåÄÌïúÏù∏Ïãù,ÎÖÑÎèÑ
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393,2019
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410,2019
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341,2019
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118,2019
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298,2019

In [71]:
#2018ÎÖÑ 2019ÎÖÑ ÌñâÎ≥µÎû≠ÌÇπ 10ÏúÑÎ•º Ï∞®ÏßÄÌïú ÎÇòÎùºÏùò ÌñâÎ≥µÏ†êÏàòÏùò ÌèâÍ∑†ÏùÑ Íµ¨ÌïòÏó¨Îùº
df[df['ÌñâÎ≥µÎû≠ÌÇπ'] == 10].Ï†êÏàò.mean()

7.259

In [74]:
#Í∞ÅÎÖÑÎèÑÏùò ÌñâÎ≥µÎû≠ÌÇπ 50ÏúÑÏù¥ÎÇ¥Ïùò ÎÇòÎùºÎì§Ïùò Í∞ÅÍ∞ÅÏùò ÌñâÎ≥µÏ†êÏàò ÌèâÍ∑†ÏùÑ Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑÏúºÎ°ú ÌëúÌòÑ
df[df['ÌñâÎ≥µÎû≠ÌÇπ'] <= 50].groupby('ÎÖÑÎèÑ').mean().Ï†êÏàò

ÎÖÑÎèÑ
2018    6.64678
2019    6.67002
Name: Ï†êÏàò, dtype: float64

In [84]:
#2018ÎÖÑÎèÑ Îç∞Ïù¥ÌÑ∞Îì§Îßå Ï∂îÏ∂úÌïòÏó¨ ÌñâÎ≥µÏ†êÏàòÏôÄ Î∂ÄÌå®Ïóê ÎåÄÌïú Ïù∏ÏãùÏóê ÎåÄÌïú ÏÉÅÍ¥ÄÍ≥ÑÏàòÎ•º Íµ¨ÌïòÏó¨Îùº
df[df.ÎÖÑÎèÑ == 2018][['Ï†êÏàò', 'Î∂ÄÌå®Ïóê ÎåÄÌïúÏù∏Ïãù']].corr().iloc[0,1]

0.40529152271510027

In [89]:
#2018ÎÖÑÎèÑÏôÄ 2019ÎÖÑÎèÑÏùò ÌñâÎ≥µÎû≠ÌÇπÏù¥ Î≥ÄÌôîÌïòÏßÄÏïäÏùÄ ÎÇòÎùºÎ™ÖÏùò ÏàòÎ•º Íµ¨ÌïòÏó¨Îùº
len(df[['ÌñâÎ≥µÎû≠ÌÇπ','ÎÇòÎùºÎ™Ö']]) - len(df[['ÌñâÎ≥µÎû≠ÌÇπ','ÎÇòÎùºÎ™Ö']].drop_duplicates())

15

In [121]:
#2019ÎÖÑÎèÑ Îç∞Ïù¥ÌÑ∞Îì§Îßå Ï∂îÏ∂úÌïòÏó¨ Í∞ÅÎ≥ÄÏàòÍ∞Ñ ÏÉÅÍ¥ÄÍ≥ÑÏàòÎ•º Íµ¨ÌïòÍ≥†
#ÎÇ¥Î¶ºÏ∞®ÏàúÏúºÎ°ú Ï†ïÎ†¨Ìïú ÌõÑ ÏÉÅÏúÑ 5Í∞úÎ•º Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑÏúºÎ°ú Ï∂úÎ†•ÌïòÎùº
#Ïª¨ÎüºÎ™ÖÏùÄ v1,v2,corrÏúºÎ°ú ÌëúÏãúÌïòÎùº
a = df[df['ÎÖÑÎèÑ'] == 2019].corr().unstack().to_frame().reset_index().dropna()
result = a[a[0] != 1].sort_values(0, ascending=False).drop_duplicates(0)
result = result.head(5)
result.columns = ['v1', 'v2', 'corr']
result.reset_index(drop=True)

      v1     v2      corr
0  ÌñâÎ≥µÍ∏∞ÎåÄÏπò  ÏÉÅÎåÄGDP  0.835462
1  ÏÉÅÎåÄGDP     Ï†êÏàò  0.793883
2  ÌñâÎ≥µÍ∏∞ÎåÄÏπò     Ï†êÏàò  0.779883
3  ÏÇ¨ÌöåÏ†ÅÏßÄÏõê     Ï†êÏàò  0.777058
4  ÏÇ¨ÌöåÏ†ÅÏßÄÏõê  ÏÉÅÎåÄGDP  0.754906

In [133]:
#Í∞Å ÎÖÑÎèÑÎ≥Ñ ÌïòÏúÑ ÌñâÎ≥µÏ†êÏàòÏùò ÌïòÏúÑ 5Í∞ú Íµ≠Í∞ÄÏùò ÌèâÍ∑† ÌñâÎ≥µÏ†êÏàòÎ•º Íµ¨ÌïòÏó¨Îùº
df.groupby('ÎÖÑÎèÑ').tail(5).groupby('ÎÖÑÎèÑ').mean().Ï†êÏàò

ÎÖÑÎèÑ
2018    3.1800
2019    3.1408
Name: Ï†êÏàò, dtype: float64

In [147]:
#2019ÎÖÑ Îç∞Ïù¥ÌÑ∞Î•º Ï∂îÏ∂úÌïòÍ≥† Ìï¥ÎãπÎç∞Ïù¥ÌÑ∞Ïùò ÏÉÅÎåÄGDP ÌèâÍ∑† Ïù¥ÏÉÅÏùò ÎÇòÎùºÎì§Í≥º
#ÌèâÍ∑† Ïù¥ÌïòÏùò ÎÇòÎùºÎì§Ïùò ÌñâÎ≥µÏ†êÏàò ÌèâÍ∑†ÏùÑ Í∞ÅÍ∞Å Íµ¨ÌïòÍ≥† Í∑∏ Ï∞®Ïù¥Í∞íÏùÑ Ï∂úÎ†•ÌïòÎùº
df_2019 = df[df['ÎÖÑÎèÑ'] == 2019]
under_gdp = df_2019[df_2019['ÏÉÅÎåÄGDP'] <= df_2019['ÏÉÅÎåÄGDP'].mean()]
over_gdp = df_2019[df_2019['ÏÉÅÎåÄGDP'] >= df_2019['ÏÉÅÎåÄGDP'].mean()]
over_gdp['Ï†êÏàò'].mean() - under_gdp['Ï†êÏàò'].mean()

1.3904839572192538

In [164]:
#Í∞ÅÎÖÑÎèÑÏùò Î∂ÄÌå®Ïóê ÎåÄÌïú Ïù∏ÏãùÏùÑ ÎÇ¥Î¶ºÏ∞®Ïàú Ï†ïÎ†¨ÌñàÏùÑ Îïå, ÏÉÅÏúÑ 20Í∞úÍµ≠Í∞ÄÏùò Î∂ÄÌå®Ïóê ÎåÄÌïú Ïù∏ÏãùÏùò ÌèâÍ∑†ÏùÑ Íµ¨ÌïòÏó¨Îùº
df.sort_values(['ÎÖÑÎèÑ','Î∂ÄÌå®Ïóê ÎåÄÌïúÏù∏Ïãù'],ascending=False).groupby('ÎÖÑÎèÑ').head(20).groupby(['ÎÖÑÎèÑ']).mean()[['Î∂ÄÌå®Ïóê ÎåÄÌïúÏù∏Ïãù']]

      Î∂ÄÌå®Ïóê ÎåÄÌïúÏù∏Ïãù
ÎÖÑÎèÑ
2018    0.3267
2019    0.3201

In [216]:
#2018ÎÖÑ, 2019ÎÖÑ Î™®Îëê Í∏∞Î°ùÏù¥ ÏûàÎäî ÎÇòÎùºÎì§ Ï§ë ÎÖÑÎèÑÎ≥Ñ ÌñâÎ≥µÏ†êÏàòÍ∞Ä Í∞ÄÏû• Ï¶ùÍ∞ÄÌïú ÎÇòÎùºÏôÄ Í∑∏ Ï¶ùÍ∞Ä ÏàòÏπòÎäî?
count = df.ÎÇòÎùºÎ™Ö.value_counts()
target = count[count>=2].index

multiple = df[df.ÎÇòÎùºÎ™Ö.isin(target)].reset_index(drop=True)
df_18 = multiple[multiple['ÎÖÑÎèÑ'] == 2018]
df_19 = multiple[multiple['ÎÖÑÎèÑ'] == 2019]
df2 = pd.merge(df_18, df_19, how='inner', on='ÎÇòÎùºÎ™Ö')
df2['Ï†êÏàòÏ∞®Ïù¥'] = df2['Ï†êÏàò_y'] - df2['Ï†êÏàò_x']
df2.sort_values(ascending=False, by='Ï†êÏàòÏ∞®Ïù¥').head(1)[['ÎÇòÎùºÎ™Ö', 'Ï†êÏàòÏ∞®Ïù¥']]

         ÎÇòÎùºÎ™Ö  Ï†êÏàòÏ∞®Ïù¥
151  Burundi  0.87

### ÏßÄÏó≠Íµ¨ ÏóêÎÑàÏßÄ ÏÜåÎπÑÎüâ Îç∞Ïù¥ÌÑ∞

In [219]:
import pandas as pd
df= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/consum/Tetuan%20City%20power%20consumption.csv')
df.head()

,DateTime,Temperature,Humidity,Wind Speed,general diffuse flows,diffuse flows,Zone 1 Power Consumption,Zone 2 Power Consumption,Zone 3 Power Consumption
0,1/1/2017 0:00,6.559,73.8,0.083,0.051,0.119,34055.69620,16128.87538,20240.96386
1,1/1/2017 0:10,6.414,74.5,0.083,0.070,0.085,29814.68354,19375.07599,20131.08434
2,1/1/2017 0:20,6.313,74.5,0.080,0.062,0.100,29128.10127,19006.68693,19668.43373
3,1/1/2017 0:30,6.121,75.0,0.083,0.091,0.096,28228.86076,18361.09422,18899.27711
4,1/1/2017 0:40,5.921,75.7,0.081,0.048,0.085,27335.69620,17872.34043,18442.40964

In [234]:
#DateTimeÏª¨ÎüºÏùÑ ÌÜµÌï¥ Í∞Å ÏõîÎ≥ÑÎ°ú Î™áÍ∞úÏùò Îç∞Ïù¥ÌÑ∞Í∞Ä ÏûàÎäîÏßÄ Îç∞Ïù¥ÌÑ∞ ÌîÑÎ†àÏûÑÏúºÎ°ú Íµ¨ÌïòÏó¨Îùº
df['DateTime'] = pd.to_datetime(df['DateTime'])
df['DateTime'].dt.month.value_counts().reset_index(drop=True).to_frame()

    DateTime
0       4464
1       4464
2       4464
3       4464
4       4464
5       4464
6       4320
7       4320
8       4320
9       4320
10      4320
11      4032

In [243]:
#3ÏõîÎã¨Ïùò Í∞Å ÏãúÍ∞ÑÎåÄÎ≥Ñ Ïò®ÎèÑÏùò ÌèâÍ∑†Îì§ Ï§ë Í∞ÄÏû• ÎÇÆÏùÄ ÏãúÍ∞ÑÎåÄÏùò Ïò®ÎèÑÎ•º Ï∂úÎ†•
df[df['DateTime'].dt.month == 3].groupby(df['DateTime'].dt.hour).mean()['Temperature'].min()

11.506612903225806

In [249]:
#zone 1 power consumption Ïª¨ÎüºÏùò valueÍ∞íÏùò ÌÅ¨Í∏∞Í∞Ä 
#zone 2 power consumption Ïª¨ÎüºÏùò valueÍ∞íÏùò ÌÅ¨Í∏∞Î≥¥Îã§ ÌÅ∞ Îç∞Ïù¥ÌÑ∞Îì§Ïùò
#humidityÏùò ÌèâÍ∑†ÏùÑ Íµ¨ÌïòÏó¨Îùº
df[df['Zone 1 Power Consumption'] > df['Zone 2  Power Consumption']].Humidity.mean()

68.23624448055094

In [254]:
#TemperatureÏùò Í∞íÏù¥ 10ÎØ∏ÎßåÏùò Í≤ΩÏö∞ A
#10Ïù¥ÏÉÅ 20ÎØ∏ÎßåÏùò Í≤ΩÏö∞ B
#20Ïù¥ÏÉÅ 30ÎØ∏ÎßåÏùò Í≤ΩÏö∞ C
#Í∑∏ Ïô∏Ïùò Í≤ΩÏö∞ DÎùºÍ≥† Ìï†Îïå, Í∞Å Îã®Í≥ÑÏùò Îç∞Ïù¥ÌÑ∞ Ïà´ÏûêÎ•º Íµ¨ÌïòÏó¨Îùº
def temperature(x):
    if x < 10:
        return 'A'
    elif (x >= 10) & (x < 20):
        return 'B'
    elif (x >= 20) & (x < 30):
        return 'C'
    else:
        return 'D'

df['Temperature'].map(temperature).value_counts()

B    26993
C    21105
A     2874
D     1444
Name: Temperature, dtype: int64

In [261]:
#6Ïõî Îç∞Ïù¥ÌÑ∞Ï§ë 12ÏãúÏùò TemperatureÏùò ÌëúÏ§ÄÌé∏Ï∞®
df[(df['DateTime'].dt.hour == 12) & (df['DateTime'].dt.month == 6)]['Temperature'].std()

2.049941782795103

In [262]:
#6Ïõî Îç∞Ïù¥ÌÑ∞Ï§ë 12ÏãúÏùò TemperatureÏùò Î∂ÑÏÇ∞
df[(df['DateTime'].dt.hour == 12) & (df['DateTime'].dt.month == 6)]['Temperature'].var()

4.202261312849164

In [273]:
#TemperatureÏùò ÌèâÍ∑†Ïù¥ÏÉÅÏùò TemperatureÏùò Í∞íÏùÑ Í∞ÄÏßÄÎäî Îç∞Ïù¥ÌÑ∞Î•º 
#TemperatureÎ•º Í∏∞Ï§ÄÏúºÎ°ú Ï†ïÎ†¨ÌñàÏùÑ Îïå 4Î≤àÏß∏ ÌñâÏùò Humidity Í∞íÏùÄ?
df[df['Temperature'] >= df['Temperature'].mean()].sort_values('Temperature')['Humidity'].iloc[3]

87.9

### Ìè¨ÏºìÎ™¨ Ï†ïÎ≥¥ Îç∞Ïù¥ÌÑ∞

In [274]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/pok/Pokemon.csv')
df.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [283]:
#Legendary Ïª¨ÎüºÏùÄ Ï†ÑÏÑ§Ìè¨ÏºìÎ™¨ Ïú†Î¨¥Î•º ÎÇòÌÉÄÎÇ∏Îã§
#Ï†ÑÏÑ§Ìè¨ÏºìÎ™¨Í≥º Í∑∏Î†áÏßÄ ÏïäÏùÄ Ìè¨ÏºìÎ™¨Îì§Ïùò HPÌèâÍ∑†Ïùò Ï∞®Ïù¥Î•º Íµ¨ÌïòÏó¨Îùº
df[df['Legendary']]['HP'].mean() - df[~df['Legendary']]['HP'].mean()

25.55614861329147

In [292]:
#Type 1ÏùÄ Ï£ºÏÜçÏÑ± Type 2Îäî Î∂ÄÏÜçÏÑ±ÏùÑ ÎÇòÌÉÄÎÇ∏Îã§
#Í∞ÄÏû• ÎßéÏùÄ Î∂ÄÏÜçÏÑ± Ï¢ÖÎ•òÎäî Î¨¥ÏóáÏù∏Í∞Ä?
df.groupby('Type 2').size().sort_values(ascending=False).index[0]

'Flying'

In [304]:
#Í∞ÄÏû• ÎßéÏùÄ Type 1Ïùò Ï¢ÖÏùò ÌèâÍ∑† AttackÏùÑ ÌèâÍ∑† DefenseÎ°ú ÎÇòÎààÍ∞íÏùÄ?
most_type = df.groupby('Type 1').size().sort_values(ascending=False).index[0]
attack = df[df['Type 1'] == most_type][['Attack', 'Defense']].mean()['Attack']
defense = df[df['Type 1'] == most_type][['Attack', 'Defense']].mean()['Defense']
attack/defense

1.0165238678090576

In [322]:
#Ìè¨ÏºìÎ™¨ ÏÑ∏ÎåÄ Ï§ë Í∞ÄÏû• ÎßéÏùÄ LegendaryÎ•º Î≥¥Ïú†Ìïú ÏÑ∏ÎåÄÎäî Î™á ÏÑ∏ÎåÄÏù∏Í∞Ä?
df[df['Legendary'] == True]['Generation'].value_counts().index[0]

3

In [350]:
#‚ÄòHP‚Äô, ‚ÄòAttack‚Äô, ‚ÄòDefense‚Äô, ‚ÄòSp. Atk‚Äô, ‚ÄòSp. Def‚Äô, ‚ÄòSpeed‚Äô Í∞ÑÏùò ÏÉÅÍ¥Ä Í≥ÑÏàòÏ§ë Í∞ÄÏû• Ï†àÎåìÍ∞íÏù¥ ÌÅ∞ Îëê Î≥ÄÏàòÏôÄ Í∑∏ Í∞íÏùÑ Íµ¨ÌïòÏó¨Îùº
corr_df = df[['HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed']].corr().unstack().reset_index()
corr_df[corr_df[0] != 1].sort_values(0, ascending=False).iloc[0]

level_0     Sp. Def
level_1     Defense
0          0.510747
Name: 26, dtype: object

In [355]:
#Í∞Å GenerationÏùò AttackÏúºÎ°ú Ïò§Î¶ÑÏ∞®Ïàú Ï†ïÎ†¨Ïãú ÏÉÅÏúÑ3Í∞ú Îç∞Ïù¥ÌÑ∞Îì§Ïùò AttackÏùò Ï†ÑÏ≤¥ ÌèâÍ∑†
df.sort_values(['Generation', 'Attack']).groupby('Generation').head(3)['Attack'].mean()

19.5

In [363]:
#Í∞Å GenerationÏùò AttackÏúºÎ°ú ÎÇ¥Î¶ºÏ∞®Ïàú Ï†ïÎ†¨Ïãú ÏÉÅÏúÑ 5Í∞ú Îç∞Ïù¥ÌÑ∞Îì§(30Í∞ú)Ïùò AttackÏùò Ï†ÑÏ≤¥ ÌèâÍ∑†ÏùÑ Íµ¨ÌïòÏó¨Îùº
df.sort_values(['Generation', 'Attack'], ascending=False).groupby('Generation').head(5)['Attack'].mean()

157.23333333333332

In [368]:
#Í∞ÄÏû• ÌùîÌïòÍ≤å Î∞úÍ≤¨ÎêòÎäî type1, rype2Ïùò ÏåçÏùÄ Î¨¥ÏóáÏù∏Í∞Ä?
df[['Type 1', 'Type 2']].value_counts().index[0]

('Normal', 'Flying')

In [377]:
#ÌïúÎ≤àÏî©Îßå Ï°¥Ïû¨ÌïòÎäî type1,type2Ïùò ÏåçÏùò Í∞ØÏàòÎ•º Î™áÍ∞úÏù∏Í∞Ä?
(df[['Type 1', 'Type 2']].value_counts() == 1).sum()

39

In [427]:
#ÌïúÎ≤àÏî©Îßå Ï°¥Ïû¨ÌïòÎäî (Type1, Type2)Ïùò ÏåçÏùÑ Í∞Å ÏÑ∏ÎåÄÏùÄ Í∞ÅÍ∞Å Î™áÍ∞úÏî© Í∞ÄÏßÄÍ≥† ÏûàÎäîÍ∞Ä?
target = df[['Type 1', 'Type 2']].value_counts().to_frame()

lst = []
for value in target[target[0] == 1].reset_index().values:
    t1 = value[0]
    t2 = value[1]
    
    sp = df[(df['Type 1'] == t1) & (df['Type 2']==t2)]
    lst.append(sp)
    
pd.concat(lst).reset_index(drop=True).Generation.value_counts().sort_index()

1     1
2     4
3     5
4    13
5     7
6     9
Name: Generation, dtype: int64

### ÎåÄÌïúÎØºÍµ≠ Ï≤¥Î†•Ïû• Îç∞Ïù¥ÌÑ∞

In [428]:
import pandas as pd
df =pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/body/body.csv')
df.head()

,Ï∏°Ï†ïÎÇòÏù¥,Ï∏°Ï†ïÌöåÏõêÏÑ±Î≥Ñ,Ïã†Ïû• : cm,Ï≤¥Ï§ë : kg,Ï≤¥ÏßÄÎ∞©Ïú® : %,Ïù¥ÏôÑÍ∏∞ÌòàÏïï(ÏµúÏ†Ä) : mmHg,ÏàòÏ∂ïÍ∏∞ÌòàÏïï(ÏµúÍ≥†) : mmHg,ÏïÖÎ†•D : kg,ÏïâÏïÑÏúóÎ™∏ÏïûÏúºÎ°úÍµΩÌûàÍ∏∞ : cm,ÍµêÏ∞®ÏúóÎ™∏ÏùºÏúºÌÇ§Í∏∞ : Ìöå,Ï†úÏûêÎ¶¨ Î©ÄÎ¶¨Îõ∞Í∏∞ : cm,Îì±Í∏â
0,59.0,M,175.0,70.6,19.2,91.0,150.0,40.6,12.2,30.0,179.0,C
1,40.0,F,161.4,45.8,21.7,62.0,119.0,22.1,16.0,32.0,165.0,B
2,27.0,M,176.6,84.8,19.2,87.0,153.0,45.9,13.2,61.0,216.0,B
3,38.0,M,167.6,76.7,24.7,63.0,132.0,43.6,16.0,45.0,231.0,A
4,21.0,M,165.2,66.2,21.5,83.0,106.0,33.5,10.6,46.0,198.0,C

In [431]:
#Ï†ÑÏ≤¥Îç∞Ïù¥ÌÑ∞Ïùò ÏàòÏ∂ïÍ∏∞ÌòàÏïï(ÏµúÍ≥†) - Ïù¥ÏôÑÍ∏∞ÌòàÏïï(ÏµúÏ†Ä)Ïùò ÌèâÍ∑†ÏùÑ Íµ¨ÌïòÏó¨Îùº
(df['ÏàòÏ∂ïÍ∏∞ÌòàÏïï(ÏµúÍ≥†) : mmHg'] - df['Ïù¥ÏôÑÍ∏∞ÌòàÏïï(ÏµúÏ†Ä) : mmHg']).mean()

52.19539414750672

In [437]:
#50~59ÏÑ∏Ïùò Ïã†Ïû•ÌèâÍ∑†ÏùÑ Íµ¨ÌïòÏó¨Îùº
df[(df['Ï∏°Ï†ïÎÇòÏù¥'] >= 50) & (df['Ï∏°Ï†ïÎÇòÏù¥'] <= 59)]['Ïã†Ïû• : cm'].mean()

164.07490107405295

In [441]:
#Ïó∞Î†πÎåÄ (20~29 : 20ÎåÄ ‚Ä¶) Î≥Ñ Ïù∏ÏõêÏàòÎ•º Íµ¨ÌïòÏó¨Îùº
df['Ïó∞Î†πÎåÄ'] = df['Ï∏°Ï†ïÎÇòÏù¥'] // 10 * 10
df.groupby('Ïó∞Î†πÎåÄ').size()

Ïó∞Î†πÎåÄ
20.0    5831
30.0    2660
40.0    1801
50.0    1769
60.0    1335
dtype: int64

In [445]:
#Ïó∞Î†πÎåÄ (20~29 : 20ÎåÄ ‚Ä¶) Î≥Ñ Îì±Í∏âÏùò Ïà´ÏûêÎ•º Îç∞Ïù¥ÌÑ∞ ÌîÑÎ†àÏûÑÏúºÎ°ú ÌëúÌòÑÌïòÎùº
df.groupby(['Ïó∞Î†πÎåÄ', 'Îì±Í∏â']).size().reset_index()

     Ïó∞Î†πÎåÄ Îì±Í∏â     0
0   20.0  A  1585
1   20.0  B  1443
2   20.0  C  1455
3   20.0  D  1348
4   30.0  A   743
5   30.0  B   697
6   30.0  C   626
7   30.0  D   594
8   40.0  A   386
9   40.0  B   428
10  40.0  C   455
11  40.0  D   532
12  50.0  A   321
13  50.0  B   410
14  50.0  C   474
15  50.0  D   564
16  60.0  A   314
17  60.0  B   371
18  60.0  C   339
19  60.0  D   311

In [459]:
#ÎÇ®ÏÑ± Ï§ë AÎì±Í∏âÍ≥º DÎì±Í∏âÏùò Ï≤¥ÏßÄÎ∞©Î•† ÌèâÍ∑†Ïùò Ï∞®Ïù¥(ÌÅ∞ Í∞íÏóêÏÑú ÏûëÏùÄ Í∞íÏùò Ï∞®)Î•º Íµ¨ÌïòÏó¨Îùº
man = df[df['Ï∏°Ï†ïÌöåÏõêÏÑ±Î≥Ñ'] == 'M']
man_ad = man[man['Îì±Í∏â'].isin(['A', 'D'])].groupby('Îì±Í∏â').mean()['Ï≤¥ÏßÄÎ∞©Ïú® : %']
man_ad['D'] - man_ad['A']

7.932086486137521

In [465]:
#bmiÎäî ÏûêÏã†Ïùò Î™∏Î¨¥Í≤å(kg)Î•º ÌÇ§Ïùò Ï†úÍ≥±(m)ÏúºÎ°ú ÎÇòÎààÍ∞íÏù¥Îã§. Îç∞Ïù¥ÌÑ∞Ïùò bmi Î•º Íµ¨Ìïú ÏÉàÎ°úÏö¥ Ïª¨ÎüºÏùÑ ÎßåÎì§Í≥† ÎÇ®ÏÑ±Ïùò bmi ÌèâÍ∑†ÏùÑ Íµ¨ÌïòÏó¨Îùº
df['BMI'] = df['Ï≤¥Ï§ë : kg'] / (df['Ïã†Ïû• : cm']/100)**2
df[df['Ï∏°Ï†ïÌöåÏõêÏÑ±Î≥Ñ'] == 'M']['BMI'].mean()

24.461344098193027

In [470]:
#ÎÇ®ÏÑ±Í≥º Ïó¨ÏÑ±Ïùò ÏïÖÎ†• ÌèâÍ∑† Ï∞®Ïù¥Î•º Íµ¨ÌïòÏó¨Îùº
target = df.groupby('Ï∏°Ï†ïÌöåÏõêÏÑ±Î≥Ñ').mean()['ÏïÖÎ†•D : kg']

target.M - target.F

17.55954185047465

### Í∏∞Ïò® Í∞ïÏàòÎüâ Îç∞Ïù¥ÌÑ∞

In [489]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/weather/weather2.csv")
df.head()

                  time  Ïù¥ÌôîÎèôÍ∞ïÏàò  Ïù¥ÌôîÎèôÍ∏∞Ïò®  ÏàòÏòÅÎèôÍ∞ïÏàò  ÏàòÏòÅÎèôÍ∏∞Ïò®
0  2020-01-01 00:00:00    0.1   -3.9    0.0    2.5
1  2020-01-01 01:00:00    0.0   -3.1    0.0    3.4
2  2020-01-01 02:00:00    0.0   -1.8    0.0    3.8
3  2020-01-01 03:00:00    0.0   -0.8    0.0    4.6
4  2020-01-01 04:00:00    0.0   -0.1    0.0    5.1

In [490]:
#Ïó¨Î¶ÑÏ≤†(6Ïõî,7Ïõî,8Ïõî) Ïù¥ÌôîÎèôÏù¥ ÏàòÏòÅÎèôÎ≥¥Îã§ ÎÜíÏùÄ Í∏∞Ïò®ÏùÑ Í∞ÄÏßÑ ÏãúÍ∞ÑÎåÄÎäî Î™áÍ∞úÏù∏Í∞Ä?
df.time = pd.to_datetime(df.time)
summer_df = df[df.time.dt.month.isin([6, 7, 8])]
len(summer_df[summer_df['Ïù¥ÌôîÎèôÍ∏∞Ïò®'] > summer_df['ÏàòÏòÅÎèôÍ∏∞Ïò®']])

1415

In [496]:
#Ïù¥ÌôîÎèôÍ≥º ÏàòÏòÅÎèôÏùò ÏµúÎåÄÍ∞ïÏàòÎüâÏùò ÏãúÍ∞ÑÎåÄÎ•º Í∞ÅÍ∞Å Íµ¨ÌïòÏó¨Îùº
print(df[df['Ïù¥ÌôîÎèôÍ∞ïÏàò'] == df['Ïù¥ÌôîÎèôÍ∞ïÏàò'].max()]['time'])
print(df[df['ÏàòÏòÅÎèôÍ∞ïÏàò'] == df['ÏàòÏòÅÎèôÍ∞ïÏàò'].max()]['time'])

6561   2020-09-30 09:00:00
Name: time, dtype: datetime64[ns]
4908   2020-07-23 12:00:00
Name: time, dtype: datetime64[ns]

### ÏÑúÎπÑÏä§ Ïù¥ÌÉàÏòàÏ∏° Îç∞Ïù¥ÌÑ∞

In [497]:
import pandas as pd
#Îç∞Ïù¥ÌÑ∞ Î°úÎìú
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/churn/train.csv")
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,6842,15793491,Cherkasova,714,Germany,Male,26,3,119545.48,2,1,0,65482.94,0
1,8963,15607874,Keane,687,France,Male,38,0,144450.58,1,0,1,137276.83,0
2,7047,15737627,Rivero,589,Germany,Female,20,2,121093.29,2,1,0,3529.72,0
3,7503,15697844,Whitehouse,721,Spain,Female,32,10,0.00,1,1,0,136119.96,1
4,3439,15722404,Carpenter,445,France,Female,30,3,0.00,2,1,1,127939.19,0

In [507]:
#ÎÇ®ÏÑ± Ïù¥ÌÉà(Exited)Ïù¥ Í∞ÄÏû• ÎßéÏùÄ Íµ≠Í∞Ä(Geography)Îäî Ïñ¥ÎîîÏù¥Í≥† Ïù¥ÌÉà Ïù∏ÏõêÏùÄ Î™áÎ™ÖÏù∏Í∞Ä?
df[(df['Exited'] == 1) & (df['Gender'] == 'Male')].value_counts('Geography').head(1)

Geography
Germany    287
dtype: int64

In [511]:
answer = df[(df['HasCrCard'] == 1) & (df['IsActiveMember'] == 1)]['Age'].mean()
round(answer, 4)

39.6102

### ÏÑ±Ïù∏ Í±¥Í∞ïÍ≤ÄÏßÑ Îç∞Ïù¥ÌÑ∞

In [512]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/smoke/train.csv")
df.head()

,ÏÑ±Î≥ÑÏΩîÎìú,Ïó∞Î†πÎåÄÏΩîÎìú(5ÏÑ∏Îã®ÏúÑ),Ïã†Ïû•(5CmÎã®ÏúÑ),Ï≤¥Ï§ë(5KgÎã®ÏúÑ),ÌóàÎ¶¨ÎëòÎ†à,ÏãúÎ†•(Ï¢å),ÏãúÎ†•(Ïö∞),Ï≤≠Î†•(Ï¢å),Ï≤≠Î†•(Ïö∞),ÏàòÏ∂ïÍ∏∞ÌòàÏïï,...,ÌòàÏÉâÏÜå,ÏöîÎã®Î∞±,ÌòàÏ≤≠ÌÅ¨Î†àÏïÑÌã∞Îãå,(ÌòàÏ≤≠ÏßÄÏò§Ìã∞)AST,(ÌòàÏ≤≠ÏßÄÏò§Ìã∞)ALT,Í∞êÎßàÏßÄÌã∞Ìîº,Ìù°Ïó∞ÏÉÅÌÉú,Íµ¨Í∞ïÍ≤ÄÏßÑÏàòÍ≤ÄÏó¨Î∂Ä,ÏπòÏïÑÏö∞ÏãùÏ¶ùÏú†Î¨¥,ÏπòÏÑù
0,F,55,145,55,73.0,0.7,0.5,1.0,1.0,129.0,...,12.9,1.0,0.9,172.0,209.0,15.0,0,Y,0.0,Y
1,M,40,180,55,74.0,1.5,1.5,1.0,1.0,102.0,...,15.6,1.0,0.8,30.0,19.0,23.0,1,Y,0.0,Y
2,F,55,150,50,72.0,1.0,0.2,1.0,1.0,116.0,...,14.1,1.0,1.0,31.0,19.0,10.0,0,Y,0.0,N
3,M,40,170,85,89.0,1.0,0.8,1.0,1.0,124.0,...,16.7,1.0,1.0,26.0,38.0,108.0,1,Y,1.0,Y
4,F,40,155,45,62.0,0.5,1.0,1.0,1.0,127.0,...,12.9,1.0,0.7,20.0,11.0,13.0,0,Y,0.0,N

In [535]:
#ÏàòÏ∂ïÍ∏∞ÌòàÏïïÍ≥º Ïù¥ÏôÑÍ∏∞ ÌòàÏïïÍ∏∞ ÏàòÏπòÏùò Ï∞®Ïù¥Î•º ÏÉàÎ°úÏö¥ Ïª¨Îüº(‚ÄòÌòàÏïïÏ∞®‚Äô) ÏúºÎ°ú ÏÉùÏÑ±ÌïòÍ≥†,
#Ïó∞Î†πÎåÄ ÏΩîÎìúÎ≥Ñ Í∞Å Í∑∏Î£π Ï§ë ‚ÄòÌòàÏïïÏ∞®‚Äô Ïùò Î∂ÑÏÇ∞Ïù¥ 5Î≤àÏß∏Î°ú ÌÅ∞ Ïó∞Î†πÎåÄ ÏΩîÎìúÎ•º Íµ¨ÌïòÏó¨Îùº
df['ÌòàÏïïÏ∞®'] = df['ÏàòÏ∂ïÍ∏∞ÌòàÏïï'] - df['Ïù¥ÏôÑÍ∏∞ÌòàÏïï']
df.groupby('Ïó∞Î†πÎåÄÏΩîÎìú(5ÏÑ∏Îã®ÏúÑ)')['ÌòàÏïïÏ∞®'].var().sort_values().index[-5]

60

In [550]:
"""
ÎπÑÎßåÎèÑÎ•º ÎÇòÌÉÄÎÇ¥Îäî ÏßÄÌëúÏù∏ WHtRÎäî ÌóàÎ¶¨ÎëòÎ†à / ÌÇ§Î°ú ÌëúÌòÑÌïúÎã§. 
ÏùºÎ∞òÏ†ÅÏúºÎ°ú 0.58Ïù¥ÏÉÅÏù¥Î©¥ ÎπÑÎßåÏúºÎ°ú Î∂ÑÎ•òÌïúÎã§. 
Îç∞Ïù¥ÌÑ∞Ï§ë WHtR ÏßÄÌëúÏÉÅ ÎπÑÎßåÏù∏ Ïù∏ÏõêÏùò ÎÇ®/Ïó¨ ÎπÑÏú®ÏùÑ Íµ¨ÌïòÏó¨Îùº
"""
df['WHtR'] = df['ÌóàÎ¶¨ÎëòÎ†à']/df['Ïã†Ïû•(5CmÎã®ÏúÑ)']
fat_w = df[df['WHtR'] >= 0.58].groupby('ÏÑ±Î≥ÑÏΩîÎìú').size()['F']
fat_m = df[df['WHtR'] >= 0.58].groupby('ÏÑ±Î≥ÑÏΩîÎìú').size()['M']
fat_m/fat_w

1.1693877551020408

### ÏûêÎèôÏ∞® Î≥¥ÌóòÍ∞ÄÏûÖ ÏòàÏ∏°Îç∞Ïù¥ÌÑ∞

In [551]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/insurance/train.csv")
df.head()

,id,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response
0,188957,Female,25,1,17.0,1,< 1 Year,No,38785.0,152.0,59,0
1,275631,Male,20,1,22.0,0,< 1 Year,No,2630.0,160.0,113,0
2,329036,Female,40,1,41.0,0,1-2 Year,Yes,33165.0,124.0,188,0
3,227288,Female,28,1,30.0,1,< 1 Year,No,29038.0,152.0,233,0
4,300441,Female,50,1,28.0,0,1-2 Year,Yes,31325.0,124.0,258,0

In [561]:
"""
Vehicle_Age Í∞íÏù¥ 2ÎÖÑ Ïù¥ÏÉÅÏù∏ ÏÇ¨ÎûåÎì§Îßå ÌïÑÌÑ∞ÎßÅ ÌïòÍ≥† Í∑∏Ï§ëÏóêÏÑú
Annual_Premium Í∞íÏù¥ Ï†ÑÏ≤¥ Îç∞Ïù¥ÌÑ∞Ïùò Ï§ëÍ∞ÑÍ∞í Ïù¥ÏÉÅÏù∏ ÏÇ¨ÎûåÎì§ÏùÑ Ï∞æÍ≥†, 
Í∑∏Îì§Ïùò VintageÍ∞íÏùò ÌèâÍ∑†ÏùÑ Íµ¨ÌïòÏó¨Îùº
"""
target = df[df['Vehicle_Age'] == '> 2 Years']
target[target['Annual_Premium'] >= target['Annual_Premium'].median()]['Vintage'].mean()

154.55906743858552

In [567]:
df.groupby(['Vehicle_Age', 'Gender'])['Annual_Premium'].mean().unstack()

Gender             Female          Male
Vehicle_Age
1-2 Year     30762.245001  30413.088469
< 1 Year     29972.286702  30310.982212
> 2 Years    36108.366374  35303.870627

### Ìï∏ÎìúÌè∞ Í∞ÄÍ≤© ÏòàÏ∏°Îç∞Ïù¥ÌÑ∞

In [568]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/mobile/train.csv")
df.head()

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
0,842,0,2.2,0,1,0,7,0.6,188,2,...,20,756,2549,9,7,19,0,0,1,1
1,1021,1,0.5,1,0,1,53,0.7,136,3,...,905,1988,2631,17,3,7,1,1,0,2
2,563,1,0.5,1,2,1,41,0.9,145,5,...,1263,1716,2603,11,2,9,1,1,0,2
3,615,1,2.5,0,0,0,10,0.8,131,6,...,1216,1786,2769,16,8,11,1,0,0,2
4,1821,1,1.2,0,13,1,44,0.6,141,2,...,1208,1212,1411,8,2,15,1,1,0,1

In [593]:
#price_rangeÏùò Í∞Å valueÎ•º Í∑∏Î£πÌïëÌïòÏó¨ Í∞Å Í∑∏Î£πÏùò n_coresÏùò ÎπàÎèÑÍ∞Ä Í∞ÄÏû• ÎÜíÏùÄ
#valueÏôÄ Í∑∏ ÎπàÎèÑÏàòÎ•º Íµ¨ÌïòÏó¨Îùº
df[['price_range','n_cores']].groupby(['price_range','n_cores']).size().sort_values().groupby(['price_range']).tail(1)

price_range  n_cores
0            2          69
3            5          70
2            4          73
1            1          76
dtype: int64

In [608]:
#price_range Í∞íÏù¥ 3Ïù∏ Í∑∏Î£πÏóêÏÑú ÏÉÅÍ¥ÄÍ¥ÄÍ≥ÑÍ∞Ä 2Î≤àÏß∏Î°ú ÎÜíÏùÄ Îëê Ïª¨ÎüºÍ≥º Í∑∏ ÏÉÅÍ¥ÄÍ≥ÑÏàòÎ•º Íµ¨ÌïòÏó¨Îùº
corr_df = df[df['price_range'] == 3].corr().unstack().reset_index().dropna()
corr_df[corr_df[0] != 1].sort_values(0, ascending=False).iloc[3]

level_0      four_g
level_1     three_g
0          0.604218
Name: 122, dtype: object

### ÏàòÏßà ÏùåÏö©ÏÑ± Ïó¨Î∂Ä Îç∞Ïù¥ÌÑ∞

In [618]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/waters/train.csv")
df.head()

,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity,Potability
0,7.918150,214.186611,23823.492888,7.290878,341.173322,411.424483,19.585002,25.057375,4.028958,0
1,5.422446,205.266080,18542.957451,5.491963,306.702227,382.080129,10.504023,67.493450,2.911751,1
2,7.341547,187.672402,21273.457066,7.784003,NaN,332.084293,16.842334,55.019151,4.025644,0
3,9.056245,197.666301,17403.532167,7.688917,337.460176,414.766631,15.349869,63.696746,3.319354,0
4,5.039374,142.860598,40829.353167,7.271543,NaN,386.803057,16.823773,52.297113,4.957420,0

In [641]:
"""
phÍ∞íÏùÄ ÏÉÅÎãπÌûà ÎßéÏùÄ Í≤∞Ï∏°ÏπòÎ•º Ìè¨Ìï®ÌïúÎã§. 
Í≤∞Ï∏°ÏπòÎ•º Ï†úÏô∏Ìïú ÎÇòÎ®∏ÏßÄ Îç∞Ïù¥ÌÑ∞Îì§ Ï§ë ÏÇ¨Î∂ÑÏúÑÍ∞í Í∏∞Ï§Ä ÌïòÏúÑ 25%Ïùò Í∞íÎì§Ïùò ÌèâÍ∑†Í∞íÏùÄ?"""
target = df[~df['ph'].isna()]
target[target['ph'] <= target['ph'].quantile(0.25)]['ph'].mean()

5.057093462441732

### ÏùòÎ£å ÎπÑÏö© ÏòàÏ∏° Îç∞Ïù¥ÌÑ∞

In [642]:
import pandas as pd
train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/MedicalCost/train.csv")
train.head()

   age     sex     bmi  children smoker     region      charges
0   64  female  39.330         0     no  northeast  14901.51670
1   47  female  27.830         0    yes  southeast  23065.42070
2   52  female  33.300         2     no  southwest  10806.83900
3   33  female  22.135         1     no  northeast   5354.07465
4   30    male  31.400         1     no  southwest   3659.34600

In [649]:
#Ìù°Ïó∞ÏûêÏôÄ ÎπÑÌù°Ïó∞Ïûê Í∞ÅÍ∞Å chargesÏùò ÏÉÅÏúÑ 10% Í∑∏Î£πÏùò ÌèâÍ∑†Ïùò Ï∞®Ïù¥Îäî?
smoke_90 = train[train['smoker']== 'yes']['charges'].quantile(0.9)
nsmoke_90 = train[train['smoker']== 'no']['charges'].quantile(0.9)

smoke_90_mean = train[(train['smoker'] == 'yes') & (train['charges'] >= smoke_90)]['charges'].mean()
nsmoke_90_mean = train[(train['smoker'] == 'no') & (train['charges'] >= nsmoke_90)]['charges'].mean()

smoke_90_mean - nsmoke_90_mean

29297.954548156158

### ÌÇπÏπ¥Ïö¥Ìã∞ Ï£ºÍ±∞ÏßÄ Í∞ÄÍ≤©ÏòàÏ∏°Î¨∏Ï†ú Îç∞Ïù¥ÌÑ∞

In [650]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/kingcountyprice//train.csv")
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,8961990160,20150413T000000,567500.0,3,2.5,2080,4556,2.0,0,0,...,8,2080,0,1999,0,98074,47.6036,-122.014,1530,5606
1,9455200205,20140604T000000,525000.0,3,2.0,1540,7800,1.0,0,0,...,8,1540,0,2004,0,98125,47.7041,-122.288,1510,7800
2,7853220670,20140918T000000,540000.0,3,2.5,2860,8935,2.0,0,0,...,8,2860,0,2004,0,98065,47.5336,-121.855,2650,6167
3,3298201170,20141110T000000,350000.0,3,1.0,940,7811,1.0,0,0,...,6,940,0,1959,0,98008,47.6195,-122.118,1180,7490
4,7972604355,20140521T000000,218000.0,3,1.0,1020,7874,1.0,0,0,...,7,1020,0,1956,0,98106,47.5175,-122.346,1290,7320

In [662]:
"""
bedrooms Ïùò ÎπàÎèÑÍ∞Ä Í∞ÄÏû• ÎÜíÏùÄ Í∞íÏùÑ Í∞ÄÏßÄÎäî Îç∞Ïù¥ÌÑ∞Îì§Ïùò 
priceÏùò ÏÉÅÏúÑ 10%ÏôÄ ÌïòÏúÑ 10%Í∞íÏùò Ï∞®Ïù¥Î•º Íµ¨ÌïòÏó¨Îùº
"""

df_price = df[df['bedrooms'] == df['bedrooms'].mode()[0]]['price']
df_price.quantile(0.9) - df_price.quantile(0.1)

505500.0

### ÎåÄÌïôÏõê ÏûÖÌïôÍ∞ÄÎä•ÏÑ± Îç∞Ïù¥ÌÑ∞

In [663]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/admission/train.csv")
df.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,246,328,110,4,4.0,2.5,9.02,1,0.81
1,100,323,113,3,4.0,4.0,8.88,1,0.79
2,79,296,95,2,3.0,2.0,7.54,1,0.44
3,53,334,116,4,4.0,3.0,8.00,1,0.78
4,444,321,114,5,4.5,4.5,9.16,1,0.87

In [684]:
"""
Serial No. Ïª¨ÎüºÏùÑ Ï†úÏô∏ÌïòÍ≥† 
‚ÄòChance of Admit‚ÄôÏùÑ Ï¢ÖÏÜçÎ≥ÄÏàò, ÎÇòÎ®∏ÏßÄ Î≥ÄÏàòÎ•º ÎèÖÎ¶ΩÎ≥ÄÏàòÎùº Ìï†Îïå, 
ÎûúÎç§Ìè¨Î†àÏä§Ìä∏Î•º ÌÜµÌï¥ ÌöåÍ∑Ä ÏòàÏ∏°ÏùÑ Ìï† ÎñÑ Î≥ÄÏàòÏ§ëÏöîÎèÑ Í∞íÏùÑ Ï∂úÎ†•ÌïòÎùº
(ÏãúÎìúÍ∞íÏóê Îî∞Îùº ÏàúÏÑúÎäî Îã¨ÎùºÏßàÏàò ÏûàÏùå)"""

from sklearn.ensemble import RandomForestRegressor

X = df.iloc[:,1:-1]
y = df.iloc[:,-1]

model = RandomForestRegressor()
model.fit(X,y)

pd.DataFrame(model.feature_importances_,X.columns)

                          0
GRE Score          0.086200
TOEFL Score        0.035792
University Rating  0.013288
SOP                0.024015
LOR                0.025349
CGPA               0.807908
Research           0.007448

### Î†àÎìú ÏôÄÏù∏ ÌÄÑÎ¶¨Ìã∞ ÏòàÏ∏° Îç∞Ïù¥ÌÑ∞

In [685]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/redwine/train.csv")
df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,5.0,0.38,0.01,1.6,0.048,26.0,60.0,0.99084,3.70,0.75,14.0,6
1,5.0,0.42,0.24,2.0,0.060,19.0,50.0,0.99170,3.72,0.74,14.0,8
2,7.1,0.36,0.30,1.6,0.080,35.0,70.0,0.99693,3.44,0.50,9.4,5
3,7.6,0.29,0.49,2.7,0.092,25.0,60.0,0.99710,3.31,0.61,10.1,6
4,7.7,0.51,0.28,2.1,0.087,23.0,54.0,0.99800,3.42,0.74,9.2,5

In [694]:
"""
quality Í∞íÏù¥ 3Ïù∏ Í∑∏Î£πÍ≥º 8Ïù∏ Îç∞Ïù¥ÌÑ∞Í∑∏Î£πÏùò Í∞Å Ïª¨ÎüºÎ≥Ñ ÎèÖÎ¶ΩÎ≥ÄÏàòÏùò 
ÌëúÏ§ÄÌé∏Ï∞® Í∞íÏùò Ï∞®Ïù¥Î•º Íµ¨Ìï†Îïå Í∑∏Í∞íÏù¥ Í∞ÄÏû• ÌÅ∞ Ïª¨ÎüºÎ™ÖÏùÑ Íµ¨ÌïòÏó¨Îùº"""
(df[df['quality'] == 3].std() - df[df['quality'] == 8].std()).abs().sort_values().index[-1]

'total sulfur dioxide'

### ÏïΩÎ¨º Î∂ÑÎ•ò Îç∞Ïù¥ÌÑ∞

In [695]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/drug/train.csv")
df.head()

   Age Sex      BP Cholesterol  Na_to_K  Drug
0   20   F  NORMAL      NORMAL    9.281     4
1   24   M    HIGH      NORMAL    9.475     1
2   34   M  NORMAL        HIGH   22.456     0
3   17   M  NORMAL      NORMAL   10.832     4
4   72   M     LOW        HIGH   16.310     0

In [705]:
"""
ÎÇ®ÏÑ±Îì§Ïùò Ïó∞Î†πÎåÄÎ≥Ñ (10ÏÇ¥Ïî© Íµ¨Î∂Ñ 0~9ÏÑ∏ 10~19ÏÑ∏ ‚Ä¶) 
Na_to_KÍ∞íÏùò ÌèâÍ∑†Í∞íÏùÑ Íµ¨Ìï¥ÏÑú Îç∞Ïù¥ÌÑ∞ ÌîÑÎ†àÏûÑÏúºÎ°ú ÌëúÌòÑÌïòÏó¨Îùº

"""
df = df[df['Sex'] == 'M']
df['Age2'] = df['Age'] // 10 * 10
df.groupby('Age2')['Na_to_K'].mean().to_frame()

        Na_to_K
Age2
10    13.627000
20    18.260769
30    15.244143
40    13.897273
50    14.811273
60    14.284308
70    11.363857

### ÏÇ¨Í∏∞ÌöåÏÇ¨ Î∂ÑÎ•ò Îç∞Ïù¥ÌÑ∞

In [706]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/audit/train.csv")
df.head()

,Sector_score,LOCATION_ID,PARA_A,Score_A,Risk_A,PARA_B,Score_B,Risk_B,TOTAL,numbers,...,RiSk_E,History,Prob,Risk_F,Score,Inherent_Risk,CONTROL_RISK,Detection_Risk,Audit_Risk,Risk
0,2.72,14,4.53,0.6,2.718,87.93,0.6,52.758,92.46,5.0,...,0.4,0,0.2,0.0,4.0,108.362,0.4,0.5,21.6724,1
1,3.41,16,12.68,0.6,7.608,41.00,0.6,24.600,53.68,5.5,...,0.4,0,0.2,0.0,4.4,41.936,0.4,0.5,8.3872,1
2,2.72,11,3.11,0.6,1.866,113.97,0.6,68.382,117.08,5.5,...,0.4,0,0.2,0.0,4.4,88.832,0.4,0.5,17.7664,1
3,3.41,8,1.12,0.4,0.448,0.00,0.2,0.000,1.12,5.0,...,0.4,0,0.2,0.0,2.2,1.848,0.4,0.5,0.3696,0
4,55.57,9,1.06,0.4,0.424,0.00,0.2,0.000,1.06,5.0,...,0.4,0,0.2,0.0,2.2,1.824,0.4,0.5,0.3648,0

In [709]:
#Îç∞Ïù¥ÌÑ∞Ïùò Risk Í∞íÏóê Îî∞Î•∏ score_aÏôÄ score_bÏùò ÌèâÍ∑†Í∞íÏùÑ Íµ¨ÌïòÏó¨Îùº
df.groupby('Risk').mean()[['Score_A', 'Score_B']]

       Score_A   Score_B
Risk
0     0.262234  0.225532
1     0.490164  0.444262

### ÏÑºÏÑúÎç∞Ïù¥ÌÑ∞ ÎèôÏûëÏú†Ìòï Î∂ÑÎ•ò Îç∞Ïù¥ÌÑ∞

In [710]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/muscle/train.csv")
df.head()

,motion_0,motion_1,motion_2,motion_3,motion_4,motion_5,motion_6,motion_7,motion_8,motion_9,...,motion_55,motion_56,motion_57,motion_58,motion_59,motion_60,motion_61,motion_62,motion_63,pose
0,-6.0,8.0,5.0,6.0,-12.0,-27.0,5.0,24.0,-8.0,-5.0,...,-1.0,-3.0,-6.0,-9.0,-7.0,36.0,68.0,3.0,-3.0,1
1,-32.0,-3.0,-4.0,-5.0,-1.0,16.0,0.0,-5.0,42.0,2.0,...,-17.0,-12.0,-1.0,-1.0,0.0,-26.0,-11.0,-4.0,-9.0,1
2,35.0,-2.0,-1.0,1.0,-25.0,-16.0,-3.0,-20.0,10.0,1.0,...,6.0,-65.0,6.0,-10.0,-31.0,-19.0,-3.0,-47.0,-17.0,0
3,-15.0,-6.0,-3.0,-5.0,27.0,37.0,-2.0,-2.0,19.0,5.0,...,2.0,11.0,0.0,-2.0,-4.0,-7.0,15.0,3.0,14.0,1
4,60.0,3.0,0.0,-7.0,-6.0,-10.0,-6.0,7.0,-11.0,-4.0,...,-12.0,17.0,-3.0,1.0,2.0,-2.0,20.0,18.0,10.0,0

In [721]:
#poseÍ∞íÏóê Îî∞Î•∏ Í∞Å motionÏª¨ÎüºÏùò Ï§ëÍ∞ÑÍ∞íÏùò Í∞ÄÏû• ÌÅ∞ Ï∞®Ïù¥Î•º Î≥¥Ïù¥Îäî motionÏª¨ÎüºÏùÄ Ïñ¥ÎîîÏù¥Î©∞ Í∑∏Í∞íÏùÄ?
df_pose = df.groupby('pose').median()
df_pose.loc['diff'] = (df_pose.loc[0] - df_pose.loc[1]).abs()
df_pose.loc['diff'].sort_values(ascending=False).index[:2]

Index(['motion_54', 'motion_62'], dtype='object')

### ÌòÑÎåÄ Ï∞®Îüâ Í∞ÄÍ≤© Î∂ÑÎ•òÎ¨∏Ï†ú Îç∞Ïù¥ÌÑ∞

In [722]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/hyundai/train.csv")
df.head()

,model,year,price,transmission,mileage,fuelType,tax(¬£),mpg,engineSize
0,Tucson,2016,12795,Manual,36263,Diesel,30,61.7,1.7
1,I10,2012,3995,Manual,22089,Petrol,20,61.4,1.2
2,I30,2019,24000,Manual,555,Petrol,145,34.0,2.0
3,Tucson,2017,12995,Manual,32147,Diesel,30,61.7,1.7
4,Tucson,2018,14991,Semi-Auto,32217,Diesel,150,57.6,1.7

In [733]:
#Ï†ïÎ≥¥(rowÏàò)Í∞Ä Í∞ÄÏû• ÎßéÏùÄ ÏÉÅÏúÑ 3Ï∞®Ï¢ÖÏùò priceÍ∞íÏùò Í∞Å ÌèâÍ∑†Í∞íÏùÄ?
df[df['model'].isin(df.groupby('model').size().sort_values(ascending=False).index[:3])].groupby('model').mean()['price'].to_frame()

                price
model
 I10      7646.137891
 I30     11651.821759
 Tucson  15805.441373

### ÎãπÎá®Ïó¨Î∂ÄÌåêÎã® Îç∞Ïù¥ÌÑ∞

In [734]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/diabetes/train.csv")
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,3,102,74,0,0,29.5,0.121,32,0
1,2,144,58,33,135,31.6,0.422,25,1
2,5,136,82,0,0,0.0,0.640,69,0
3,13,145,82,19,110,22.2,0.245,57,0
4,1,117,60,23,106,33.8,0.466,27,0

In [742]:
#Outcome Í∞íÏóê Îî∞Î•∏ Í∞Å Í∑∏Î£πÏùò Í∞Å Ïª¨ÎüºÏùò ÌèâÍ∑† Ï∞®Ïù¥Î•º Íµ¨ÌïòÏó¨Îùº
df_outcome = df.groupby('Outcome').mean()
df_outcome.loc['diff'] = (df_outcome.loc[0] - df_outcome.loc[1]).abs()
df_outcome.loc['diff']

Pregnancies                  1.574159
Glucose                     29.943995
BloodPressure                3.202079
SkinThickness                2.952033
Insulin                     33.398645
BMI                          4.541437
DiabetesPedigreeFunction     0.143646
Age                          5.866939
Name: diff, dtype: float64

### ÎÑ∑ÌîåÎ¶≠Ïä§ Ï£ºÏãù Îç∞Ïù¥ÌÑ∞

In [743]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/nflx/NFLX.csv")
df.head()

         Date      Open      High       Low     Close  Adj Close     Volume
0  2002-05-23  1.156429  1.242857  1.145714  1.196429   1.196429  104790000
1  2002-05-24  1.214286  1.225000  1.197143  1.210000   1.210000   11104800
2  2002-05-28  1.213571  1.232143  1.157143  1.157143   1.157143    6609400
3  2002-05-29  1.164286  1.164286  1.085714  1.103571   1.103571    6757800
4  2002-05-30  1.107857  1.107857  1.071429  1.071429   1.071429   10154200

In [760]:
"""
Îß§ÎÖÑ 5ÏõîÎã¨Ïùò openÍ∞ÄÍ≤©Ïùò ÌèâÍ∑†Í∞íÏùÑ Îç∞Ïù¥ÌÑ∞ ÌîÑÎ†àÏûÑÏúºÎ°ú ÌëúÌòÑÌïòÎùº
"""
df['Date'] = pd.to_datetime(df['Date'])
df2 = df.groupby(df['Date'].dt.strftime('%Y-%m')).mean()['Open'].to_frame()
df2[df2.index.str.contains('-05')]

               Open
Date
2002-05    1.155833
2003-05    1.641497
2004-05    4.261143
2005-05    1.951905
2006-05    4.163571
2007-05    3.159351
2008-05    4.435034
2009-05    5.790571
2010-05   14.417071
2011-05   34.650272
2012-05   10.523247
2013-05   31.936429
2014-05   51.121292
2015-05   85.057429
2016-05   92.705715
2017-05  158.255455
2018-05  329.779541
2019-05  359.664548
2020-05  433.880499
2021-05  496.923996

### nba ÏÑ†Ïàò Îä•Î†•Ïπò Îç∞Ïù¥ÌÑ∞

In [7]:
pd.set_option('display.max_columns',50)
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/nba/nba.csv",encoding='latin',sep=';')
df.head()

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,3P,3PA,3P%,2P,2PA,2P%,eFG%,FT,FTA,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Precious Achiuwa,C,22,TOR,73,28,23.6,3.6,8.3,0.439,0.8,2.1,0.359,2.9,6.1,0.468,0.486,1.1,1.8,0.595,2.0,4.5,6.5,1.1,0.5,0.6,1.2,2.1,9.1
1,2,Steven Adams,C,28,MEM,76,75,26.3,2.8,5.1,0.547,0.0,0.0,0.000,2.8,5.0,0.548,0.547,1.4,2.6,0.543,4.6,5.4,10.0,3.4,0.9,0.8,1.5,2.0,6.9
2,3,Bam Adebayo,C,24,MIA,56,56,32.6,7.3,13.0,0.557,0.0,0.1,0.000,7.3,12.9,0.562,0.557,4.6,6.1,0.753,2.4,7.6,10.1,3.4,1.4,0.8,2.6,3.1,19.1
3,4,Santi Aldama,PF,21,MEM,32,0,11.3,1.7,4.1,0.402,0.2,1.5,0.125,1.5,2.6,0.560,0.424,0.6,1.0,0.625,1.0,1.7,2.7,0.7,0.2,0.3,0.5,1.1,4.1
4,5,LaMarcus Aldridge,C,36,BRK,47,12,22.3,5.4,9.7,0.550,0.3,1.0,0.304,5.1,8.8,0.578,0.566,1.9,2.2,0.873,1.6,3.9,5.5,0.9,0.3,1.0,0.9,1.7,12.9

In [8]:
#Tm Ïª¨ÎüºÏùÄ Í∞Å ÌåÄÏùò Ïù¥Î¶ÑÏùÑ ÏùòÎØ∏ÌïúÎã§. TORÌåÄÏùò ÌèâÍ∑†ÎÇòÏù¥Î•º ÏÜåÏàò 4Ïß∏ ÏûêÎ¶¨ÍπåÏßÄ Íµ¨ÌïòÏó¨Îùº
round(df[df['Tm'] == 'TOR']['Age'].mean(),4)

24.8696

In [9]:
#Pos Ïª¨ÎüºÏùÄ Ìè¨ÏßÄÏÖòÏùÑ ÏùòÎØ∏ÌïúÎã§. Ï†ÑÏ≤¥ ÏÑ†Ïàò Ï§ë ÏµúÏÜåÎÇòÏù¥ÎåÄÏùò ÏÑ†ÏàòÎì§ÏùÑ ÌïÑÌÑ∞ÌïòÍ≥† Í∑∏Îì§ Ï§ë Í∞ÄÏû• ÎßéÏùÄ Ìè¨ÏßÄÏÖòÏùÄ Î¨¥ÏóáÏù∏ÏßÄ ÌôïÏù∏ÌïòÎùº
df[df['Age'] == df['Age'].min()]['Pos'].value_counts().index[0]

'SG'

In [16]:
"""
ÏÑ†ÏàòÎì§Ïùò Ïù¥Î¶ÑÏùÄ first_name+ Í≥µÎ∞± + last_nameÏúºÎ°ú Ïù¥Î£®Ïñ¥Ï†∏ ÏûàÎã§. Í∞ÄÏû• ÎßéÏùÄ first_nameÏùÄ Î¨¥ÏóáÏù¥Î©∞ Î™á Ìöå Î∞úÏÉùÌïòÎäîÏßÄ ÌôïÏù∏ÌïòÎùº"""
df['Player'].str.split(' ').str[0].str.lower().value_counts().head(1)

df['Player'].str.split(' ')[0]

['Precious', 'Achiuwa']

In [799]:
#PTSÏª¨ÎüºÏùÄ Í≤ΩÍ∏∞Îãπ ÌèâÍ∑†ÎìùÏ†êÏàò Ïù¥Îã§. Í∞ÅÌè¨ÏßÄÏÖòÎ≥ÑÎ°ú Í≤ΩÍ∏∞Îãπ ÌèâÍ∑†ÎìùÏ†êÏàòÏùò ÌèâÍ∑†ÏùÑ Íµ¨ÌïòÏó¨Îùº
df.groupby('Pos').mean()['PTS']

Pos
C         7.690769
C-PF     12.850000
PF        7.737500
PF-SF     8.500000
PG        8.325161
PG-SG    22.000000
SF        7.270253
SF-SG     8.660000
SG        7.810553
SG-PG     9.525000
SG-SF     7.360000
Name: PTS, dtype: float64

In [806]:
#GÏª¨ÎüºÏùÄ Ï∞∏Ïó¨Ìïú Í≤ΩÍ∏∞Ïùò Ïà´ÏûêÏù¥Îã§. Í∞Å ÌåÄÎ≥ÑÎ°ú Í∞ÄÏû• ÎÜíÏùÄ Í≤ΩÍ∏∞Ï∞∏Ïó¨ ÏàòÎ•º Í∞ÄÏßÑ ÏÑ†ÏàòÎì§Ïùò Í≤ΩÍ∏∞ Ï∞∏Ïó¨ Ïà´ÏûêÏùò ÌèâÍ∑†ÏùÑ Íµ¨ÌïòÏó¨Îùº
df.groupby('Tm')['G'].max().mean()

77.51612903225806